{"openapi":"3.0.0","info":{"title":"Superior Trade API","version":"1.0.0","description":"The cloud runtime for algorithmic trading strategies. Superior Trade runs your Freqtrade and NautilusTrader strategies as managed, always-on deployments — wallets, exchange credentials, order routing, and monitoring handled for you.\n\n**What this API does:**\n- **Backtest** strategies against real exchange history before any capital moves\n- **Deploy** strategies as managed live (or paper) runtimes — one call, no servers\n- **Wallets & funding** — platform-managed trading wallets, gasless deposits, builder-fee handling\n- **Venues** — Hyperliquid perps/spot (Freqtrade, v2), Polymarket prediction markets (NautilusTrader, v3), and feature-gated Lighter funding/readiness APIs\n\n**How these docs are organized — which group do I use?**\n\nThe sidebar has two main groups. They are not old-vs-new versions — they are two engines on two venues:\n- **v2 — Freqtrade · Hyperliquid**: run Freqtrade (Python) strategies on Hyperliquid perps/spot. Backtesting, live + paper deployments, funding, intelligence. **Most integrations start here.**\n- **v3 — Nautilus · Polymarket**: run NautilusTrader strategies on Polymarket prediction markets, plus the cross-venue account bootstrap/onboarding endpoints (the `/v3/account/{address}/hyperliquid` bootstrap is used by v2 integrations too).\n- **v3 — Lighter**: Superior-wallet CCTP funding, account readiness, and secure withdrawals back to the Superior wallet. Lighter creates the venue account on first credited deposit.\n- **Legacy v1** (bottom of the sidebar) is deprecated; do not build against it.\n\nPick the venue you trade, work inside that group, and dip into the other only for the account bootstrap.\n\n**Auth (two ways, one header each):**\n- API key from [account.superior.trade](https://account.superior.trade) → `x-api-key: st_live_…`\n- Privy session JWT (terminal users) → `Authorization: Bearer <jwt>`\n\n**Quickstart — zero to live deploy:**\n1. Create an API key at [account.superior.trade](https://account.superior.trade)\n2. `POST /v2/backtesting` with your Freqtrade strategy code → poll `GET /v2/backtesting/{id}/status`, fetch results via `resultUrl` (fall back to `GET /{id}/logs` for the run summary)\n3. Fund your trading account: `POST /v3/account/{address}/hyperliquid` (one-time bootstrap — creates the agent wallet, approves the builder fee) then `POST /v2/portfolio/hyperliquid/deposit`\n4. `POST /v2/deployment` with the validated strategy → `POST /{id}/credentials` → start it (use **PATCH** `/v2/deployment/{id}/status` — see the endpoint note vs the legacy PUT)\n5. Watch it: `GET /v2/deployment/{id}/status` and `/logs`\n\nPaper trading is identical via `/v2/paper-deployment` — same strategy code, simulated fills, no funding required.\n\n**Roadmap — more integrations coming:**\n- **NautilusTrader · Binance** — the Nautilus engine pointed at Binance markets.\n- **Intelligence Buckets deploy API** — deploy self-updating pair universes as a single strategy."},"servers":[{"url":"https://api.superior.trade","description":"Production"},{"url":"https://api-uat.superior.trade","description":"UAT"},{"url":"http://localhost:8080","description":"Development"}],"security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"tags":[{"name":"DeploymentV2","x-displayName":"Deployments","description":"Create and manage live Freqtrade deployments on Hyperliquid: CRUD, credentials, start/stop (use PATCH …/status), exit, logs."},{"name":"Paper Deployments V2","x-displayName":"Paper Deployments","description":"Same strategy code, simulated fills, no funding required."},{"name":"BacktestingV2","x-displayName":"Backtesting","description":"Run Freqtrade strategies against real Hyperliquid history before any capital moves."},{"name":"BacktestingDataV2","x-displayName":"Backtesting Data","description":"Which pairs/timeframes have history available for backtesting."},{"name":"AccountV2","x-displayName":"Account","description":"Trading accounts, deposit links, and readiness status."},{"name":"PortfolioV2","x-displayName":"Portfolio & Funding","description":"Move funds on/off Hyperliquid: deposits, withdrawals, exits."},{"name":"HyperliquidProxy","x-displayName":"Hyperliquid Proxy","description":"Authorize-and-send proxy for signed Hyperliquid actions."},{"name":"Intelligence V2","x-displayName":"Intelligence","description":"Alpha-scan and per-pair setup cards."},{"name":"Leaderboard V2","x-displayName":"Leaderboard","description":"Top-trader leaderboard data."},{"name":"Copy Trading V2","x-displayName":"Copy Trading","description":"Follow leaderboard strategies automatically."},{"name":"AccountV3","x-displayName":"Account & Onboarding","description":"Account bootstrap for v3 venues: Hyperliquid onboarding (agent wallet + builder fee), Polymarket deposit setup, and Lighter account/API-key readiness. v2 integrations use the Hyperliquid bootstrap here too."},{"name":"Market V3","x-displayName":"Markets","description":"Discover live Polymarket prediction markets."},{"name":"Backtesting V3","x-displayName":"Backtesting","description":"Run NautilusTrader strategies against historical Polymarket data. Strategy code is submitted inline in the request body."},{"name":"Deployment V3","x-displayName":"Deployments","description":"Create, start, stop, and exit live NautilusTrader deployments."},{"name":"PortfolioV3","x-displayName":"Portfolio & Funding","description":"Deposit/wrap USDC into Polymarket pUSD."},{"name":"PolymarketProxy","x-displayName":"Polymarket Proxy","description":"Direct Polymarket order placement and cancellation."},{"name":"Authentication","x-displayName":"Authentication","description":"Request, create, list, rename, and delete Superior Trade API keys."},{"name":"LighterProxy","x-displayName":"Lighter Proxy","description":"Direct Lighter signed transaction submission."},{"name":"LighterV3","x-displayName":"Lighter Accounts & Funding","description":"Feature-gated Lighter readiness, Superior-wallet CCTP funding, balances, and secure withdrawals back to the Superior wallet."},{"name":"Backtesting","x-displayName":"Backtesting (deprecated)","description":"Legacy backtesting endpoints (v1, deprecated)."},{"name":"Deployment","x-displayName":"Deployments (deprecated)","description":"Legacy deployment endpoints (v1, deprecated)."}],"x-tagGroups":[{"name":"v2 — Freqtrade · Hyperliquid","tags":["DeploymentV2","Paper Deployments V2","BacktestingV2","BacktestingDataV2","AccountV2","PortfolioV2","HyperliquidProxy","Intelligence V2","Leaderboard V2","Copy Trading V2"]},{"name":"v3 — Nautilus · Polymarket","tags":["AccountV3","Market V3","Backtesting V3","Deployment V3","PortfolioV3","PolymarketProxy","LighterProxy"]},{"name":"Shared","tags":["Authentication"]},{"name":"v3 — Lighter","tags":["LighterV3"]},{"name":"Legacy (v1, deprecated)","tags":["Backtesting","Deployment"]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"API key authentication"},"BearerAuth":{"type":"http","scheme":"bearer","description":"JWT token from Privy embedded wallet authentication"}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error code identifier"},"message":{"type":"string","description":"Human-readable error message"}}},"Backtest":{"type":"object","properties":{"id":{"type":"string"},"config":{"type":"object","description":"Freqtrade configuration (exchange, stake_currency, etc.)"},"code":{"type":"string","description":"Strategy code/implementation"},"timerange":{"type":"object","properties":{"start":{"type":"string","description":"Start date (YYYY-MM-DD)"},"end":{"type":"string","description":"End date (YYYY-MM-DD)"}}},"status":{"type":"string","enum":["pending","running","completed","failed"]},"results":{"type":"object","deprecated":true,"properties":{"total_trades":{"type":"number"},"winning_trades":{"type":"number"},"losing_trades":{"type":"number"},"win_rate":{"type":"string"},"total_profit":{"type":"string"},"max_drawdown":{"type":"string"},"sharpe_ratio":{"type":"number"}},"description":"Deprecated. Use `resultUrl` to download full backtest results as JSON."},"resultUrl":{"type":"string","description":"Signed URL to download backtest results as JSON (valid for 7 days). Only available when status is \"completed\"."},"started_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time"},"k8s_job_name":{"type":"string","description":"Kubernetes Job name"}}},"Deployment":{"type":"object","properties":{"id":{"type":"string"},"config":{"type":"object","description":"Freqtrade configuration"},"code":{"type":"string","description":"Strategy code/implementation"},"name":{"type":"string","description":"Human-readable deployment name"},"replicas":{"type":"number","description":"Number of running instances (always 1)"},"status":{"type":"string","enum":["pending","running","stopped","stopping"]},"available_replicas":{"type":"number"},"pods":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string"},"restarts":{"type":"number"}}}},"credentials_status":{"type":"string","enum":["stored","missing"]},"exchange":{"type":"string","description":"Exchange name","enum":["hyperliquid","aerodrome","binance"]},"execution_mode":{"type":"string","enum":["live","dry-run"],"description":"Execution mode for this deployment"},"alive_until":{"type":"string","format":"date-time","nullable":true,"description":"Optional ISO-8601 date-time with timezone after which a running deployment is automatically stopped."},"k8s_deployment_name":{"type":"string"},"k8s_namespace":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"DeploymentHistory":{"type":"object","properties":{"id":{"type":"string"},"deployment_id":{"type":"string","description":"Associated deployment ID (survives deletion)"},"created_by":{"type":"string","description":"User who owns this history record"},"updated_by":{"type":"string","description":"User who last updated this record"},"wallet_address":{"type":"string","description":"Wallet or subaccount address used during this session"},"pnl":{"type":"string","description":"Aggregated realized PnL from all fills (decimal string)"},"trades":{"type":"array","description":"Individual trade fills from the exchange","items":{"type":"object","properties":{"coin":{"type":"string","description":"Asset symbol (e.g., BTC, ETH)"},"px":{"type":"string","description":"Fill price"},"sz":{"type":"string","description":"Fill size"},"side":{"type":"string","description":"B for Bid/Buy, A for Ask/Sell"},"time":{"type":"number","description":"Timestamp in milliseconds"},"closed_pnl":{"type":"string","description":"Realized PnL from this fill"},"dir":{"type":"string","description":"Direction (e.g., Open Long, Close Short)"},"fee":{"type":"string","description":"Trading fee"}}}},"started_at":{"type":"string","format":"date-time","description":"When the deployment session started"},"ended_at":{"type":"string","format":"date-time","description":"When the deployment session ended (null if still active)"},"created_at":{"type":"string","format":"date-time"}}},"CopyTradingTraderSummary":{"type":"object","properties":{"trades":{"type":"number","description":"Number of trades in the validation backtest"},"win_rate":{"type":"number","description":"Backtest win rate as a decimal fraction"},"profit_pct":{"type":"number","description":"Backtest profit percentage"},"max_dd_pct":{"type":"number","description":"Backtest max drawdown percentage"},"sharpe":{"type":"number","nullable":true,"description":"Backtest Sharpe ratio when available"},"profit_factor_str":{"type":"string","description":"Display-ready profit factor, or \"infinity\""}}},"CopyTradingTraderListItem":{"type":"object","properties":{"wallet_address":{"type":"string","description":"Trader wallet address"},"truncated_address":{"type":"string","description":"Short display address"},"display_name":{"type":"string","nullable":true,"description":"Reserved display name slot"},"template_chip":{"type":"string","description":"Fitted strategy template label"},"target_pair":{"type":"string","description":"Target trading pair selected by synthesis"},"trust_tier":{"type":"string","enum":["green","yellow","red"],"description":"Copy-trading trust tier"},"validated_at":{"type":"string","format":"date-time","description":"Validation timestamp"},"summary":{"$ref":"#/components/schemas/CopyTradingTraderSummary"}}},"CopyTradingTraderList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CopyTradingTraderListItem"}},"total":{"type":"number","description":"Total matching traders before pagination"},"next_offset":{"type":"number","nullable":true,"description":"Offset for the next page, or null when no more results exist"}}},"CopyTradingTraderCard":{"allOf":[{"$ref":"#/components/schemas/CopyTradingTraderListItem"},{"type":"object","properties":{"profile":{"type":"object","nullable":true,"properties":{"pair_count":{"type":"number"},"top_pair":{"type":"string"},"taker_fraction":{"type":"number"},"wins":{"type":"number"},"losses":{"type":"number"},"win_rate":{"type":"number"},"median_notional_usd":{"type":"number"},"median_hold_sec":{"type":"number","nullable":true},"long_fraction":{"type":"number"},"last_fill_at":{"type":"string","format":"date-time"},"copyability_score":{"type":"number"},"copyability_reasons":{"type":"array","items":{"type":"string"}}}},"synthesis":{"type":"object","properties":{"fitted_template":{"type":"string"},"fitted_params":{"type":"object","additionalProperties":true},"target_pair":{"type":"string"},"strategy_code":{"type":"string"},"strategy_config":{"type":"object","additionalProperties":true},"audit":{"type":"object","properties":{"why_this_template":{"type":"string"},"regime_gate_explanation":{"type":"string"},"exit_explanation":{"type":"string"}}}}},"backtest":{"type":"object","properties":{"backtest_id":{"type":"string"},"window":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}},"trades":{"type":"number"},"win_rate":{"type":"number"},"profit_pct":{"type":"number"},"profit_factor_str":{"type":"string"},"max_dd_pct":{"type":"number"},"sharpe":{"type":"number","nullable":true},"exit_reason_summary":{"type":"array","items":{"type":"object","additionalProperties":true}}}},"deployment_template":{"type":"object","properties":{"config":{"type":"object","additionalProperties":true},"stake_amount_recommended":{"type":"number"},"max_open_trades":{"type":"number"},"risk_envelope":{"type":"object","properties":{"max_daily_loss_pct":{"type":"number"},"max_drawdown_halt_pct":{"type":"number"}}}}},"prompt_seed":{"type":"string","description":"Prompt text for confirming and deploying the copied strategy"}}}]},"V3DeploymentRequest":{"type":"object","required":["deployment"],"additionalProperties":false,"properties":{"region":{"type":"string","enum":["london","tokyo"],"description":"Optional execution region."},"deployment":{"type":"object","required":["code","config"],"additionalProperties":false,"properties":{"code":{"type":"string","minLength":1,"description":"Nautilus strategy code for this deployment."},"config":{"type":"object","additionalProperties":true,"description":"Nautilus strategy config for this deployment."}}}}},"V3DeploymentPlanResponse":{"type":"object","required":["deployment","executionCluster","namespace","activeDeploymentIds","plannedResources","resources"],"additionalProperties":false,"properties":{"deployment":{"type":"object","required":["id","status"],"additionalProperties":false,"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["starting","blocked"]},"reason":{"type":"string","enum":["NoActiveDeployments","DeploymentArtifactNotReady","TenantRuntimeImageNotReady","RuntimeImageNotPinned"]}}},"executionCluster":{"type":"string","enum":["london","tokyo"]},"namespace":{"type":"string"},"region":{"type":"string","enum":["london","tokyo"]},"activeDeploymentIds":{"type":"array","items":{"type":"string"}},"plannedResources":{"type":"array","items":{"type":"string"}},"resources":{"type":"array","items":{"$ref":"#/components/schemas/V3KubernetesResource"}}}},"V3DeploymentStatusRequest":{"type":"object","required":["action"],"additionalProperties":false,"properties":{"action":{"type":"string","enum":["start","stop"]}}},"V3DeploymentStatusResponse":{"type":"object","required":["id","status","previous_status"],"additionalProperties":true,"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["running","stopped"]},"previous_status":{"type":"string","enum":["pending","running","stopped"]},"k8s_deployment_name":{"type":"string"},"namespace":{"type":"string"}}},"V3DeploymentDeleteResponse":{"type":"object","required":["id","message"],"additionalProperties":false,"properties":{"id":{"type":"string"},"message":{"type":"string"}}},"V3DeploymentListResponse":{"type":"object","required":["items","nextCursor"],"additionalProperties":false,"properties":{"items":{"type":"array","items":{"type":"object","additionalProperties":true}},"nextCursor":{"type":["string","null"]}}},"V3DeploymentLogsResponse":{"type":"object","required":["deployment_id","items"],"additionalProperties":false,"properties":{"deployment_id":{"type":"string"},"items":{"type":"array","items":{"type":"object","required":["timestamp","message"],"additionalProperties":false,"properties":{"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"severity":{"type":"string"}}}},"nextCursor":{"type":"string"},"message":{"type":"string"}}},"V3DeploymentCredentialsRequest":{"type":"object","required":["wallet_address"],"additionalProperties":false,"properties":{"wallet_address":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"Account wallet address selected from the authenticated user's account list for this deployment. Raw private keys are never accepted."}}},"V3DeploymentCredentialsResponse":{"type":"object","required":["id","credentials_status","exchange"],"additionalProperties":false,"properties":{"id":{"type":"string"},"credentials_status":{"type":"string","enum":["stored"]},"exchange":{"type":"string","enum":["polymarket","lighter"]},"wallet_address":{"type":"string"},"updated_at":{"type":"string","format":"date-time"}}},"V3BacktestRequest":{"oneOf":[{"$ref":"#/components/schemas/V3PolymarketBacktestRequest"},{"$ref":"#/components/schemas/V3LighterBacktestRequest"}]},"V3PolymarketBacktestRequest":{"type":"object","required":["tenantId","strategyId","marketSlugs","timerange","venueProfile","strategySource"],"additionalProperties":false,"properties":{"tenantId":{"type":"string","minLength":1},"backtestId":{"type":"string","minLength":1},"strategyId":{"type":"string","minLength":1},"marketSlugs":{"type":"array","minItems":1,"items":{"type":"string","minLength":1}},"datasetRef":{"$ref":"#/components/schemas/V3PolymarketBacktestDatasetRef"},"startingBalance":{"type":"number","exclusiveMinimum":0,"default":1000},"timerange":{"$ref":"#/components/schemas/V3Timerange"},"venueProfile":{"type":"string","enum":["polymarket-london"]},"codeRef":{"type":"string","minLength":1,"description":"Optional strategy source path. Defaults to strategies/{strategyId}/strategy.py."},"configRef":{"type":"string","minLength":1,"description":"Optional strategy config path. Defaults to strategies/{strategyId}/config.json."},"strategySource":{"type":"string","minLength":1,"maxLength":262144,"description":"Required inline Nautilus strategy source mounted and executed by the runner."},"strategyConfig":{"type":"object","additionalProperties":true,"default":{},"description":"Optional strategy configuration passed to the Nautilus StrategyConfig class."},"datasetPrefix":{"type":"string","minLength":1,"default":"backtesting-data/polymarket"},"resultPrefix":{"type":"string","minLength":1,"default":"backtest-results"},"resultBucket":{"type":"string","minLength":1,"default":"superior-trade-prod-superiortrade-user-data"},"feeBps":{"type":"number","minimum":0,"default":0},"slippageBps":{"type":"number","minimum":0,"default":5},"activeDeadlineSeconds":{"type":"integer","minimum":1,"maximum":86400,"default":3600}}},"V3LighterBacktestRequest":{"type":"object","required":["tenantId","strategyId","instruments","timerange","venueProfile","strategySource"],"additionalProperties":false,"properties":{"tenantId":{"type":"string","minLength":1},"backtestId":{"type":"string","minLength":1},"strategyId":{"type":"string","minLength":1},"instruments":{"type":"array","minItems":1,"items":{"type":"string","minLength":1,"pattern":"^.+\\.(LIGHTER|LIGHTER-RH)$"}},"datasetRef":{"$ref":"#/components/schemas/V3LighterBacktestDatasetRef"},"startingBalance":{"type":"number","exclusiveMinimum":0,"default":1000},"timerange":{"$ref":"#/components/schemas/V3Timerange"},"venueProfile":{"type":"string","enum":["lighter-tokyo","lighter-robinhood-tokyo"]},"codeRef":{"type":"string","minLength":1},"configRef":{"type":"string","minLength":1},"strategySource":{"type":"string","minLength":1,"maxLength":262144,"description":"Required inline Nautilus strategy source mounted and executed by the runner."},"strategyConfig":{"type":"object","additionalProperties":true,"default":{}},"datasetPrefix":{"type":"string","minLength":1,"default":"backtesting-data/lighter"},"resultPrefix":{"type":"string","minLength":1,"default":"backtest-results"},"resultBucket":{"type":"string","minLength":1,"default":"superior-trade-prod-superiortrade-user-data"},"feeBps":{"type":"number","minimum":0,"default":0},"slippageBps":{"type":"number","minimum":0,"default":5},"activeDeadlineSeconds":{"type":"integer","minimum":1,"maximum":86400,"default":3600}}},"V3PolymarketBacktestDatasetRef":{"type":"object","required":["manifestUri","datasetVersion","coverage","markets"],"additionalProperties":false,"properties":{"manifestUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"datasetVersion":{"type":"string","minLength":1},"checksumsUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"coverage":{"$ref":"#/components/schemas/V3Timerange"},"markets":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/V3PolymarketBacktestDatasetMarket"}}}},"V3PolymarketBacktestDatasetMarket":{"type":"object","required":["slug","conditionId","outcomeTokenIds"],"additionalProperties":false,"properties":{"slug":{"type":"string","minLength":1},"conditionId":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$"},"outcomeTokenIds":{"type":"array","minItems":1,"items":{"type":"string","minLength":1}}}},"V3LighterBacktestDatasetRef":{"type":"object","required":["manifestUri","datasetVersion","coverage","instruments"],"additionalProperties":false,"properties":{"manifestUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"datasetVersion":{"type":"string","minLength":1},"checksumsUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"coverage":{"$ref":"#/components/schemas/V3Timerange"},"instruments":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/V3LighterBacktestDatasetInstrument"}}}},"V3LighterBacktestDatasetInstrument":{"type":"object","required":["instrumentId","marketId","symbol","series"],"additionalProperties":false,"properties":{"instrumentId":{"type":"string","pattern":"^.+\\.(LIGHTER|LIGHTER-RH)$"},"marketId":{"type":"integer","minimum":0},"symbol":{"type":"string","minLength":1},"series":{"type":"array","minItems":1,"items":{"type":"string","minLength":1}}}},"V3MarketSearchRequest":{"type":"object","required":["query"],"additionalProperties":false,"properties":{"query":{"type":"string","minLength":1,"description":"Natural-language market search text, such as `BTC 120k before July`."},"limit":{"type":"integer","minimum":1,"maximum":50,"default":10},"queryVariants":{"type":"array","maxItems":12,"items":{"type":"string","minLength":1},"description":"Optional Polymarket-native search variants generated by the caller. The API also applies bounded deterministic variants for broad discovery terms."},"intent":{"type":"string","enum":["backtest","discovery","deploy","monitor"],"default":"backtest","description":"Caller workflow hint. Results merge the configured market index or dataset records with live Polymarket metadata so ranking can account for current activity and recency."}}},"V3MarketCandidate":{"type":"object","required":["slug","coverage","dataMode","coverageStatus","backtestSupported","deploymentSupported","matchedKeywords"],"additionalProperties":false,"properties":{"slug":{"type":"string","description":"Exact market slug to pass as `marketSlugs[]` when creating a backtest."},"active":{"type":"boolean","description":"Latest Polymarket active state when live metadata provides it."},"closed":{"type":"boolean","description":"Latest Polymarket resolved/closed state when live metadata provides it."},"acceptingOrders":{"type":"boolean","description":"Whether Polymarket currently accepts orders for this market."},"question":{"type":"string"},"conditionId":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$","description":"Polymarket CTF condition id when the market can be deployed/traded directly."},"outcomeTokenIds":{"type":"array","minItems":1,"items":{"type":"string","minLength":1},"description":"Polymarket CLOB outcome token ids, ordered to match `outcomes` when available."},"outcomes":{"type":"array","items":{"type":"string","minLength":1},"description":"Human outcome labels from Polymarket metadata, ordered to match `outcomeTokenIds`."},"instrumentId":{"type":"string","pattern":"^[0-9]+\\.POLYMARKET$","description":"Default YES/first-outcome instrument id for direct Polymarket order placement."},"tradeCount":{"type":"number"},"liquidity":{"type":["number","null"]},"volume":{"type":["number","null"]},"volume24h":{"type":["number","null"]},"currentStats":{"type":"object","required":["source"],"additionalProperties":false,"description":"Best-effort live Polymarket stats used for ranking and display. These values come from live metadata and may be absent for catalog-only candidates.","properties":{"source":{"type":"string","enum":["polymarket_gamma"]},"bestBid":{"type":["number","null"]},"bestAsk":{"type":["number","null"]},"lastTradePrice":{"type":["number","null"]},"volume":{"type":["number","null"]},"volume24h":{"type":["number","null"]},"liquidity":{"type":["number","null"]},"outcomePrices":{"type":"array","items":{"type":"object","required":["outcome","price"],"additionalProperties":false,"properties":{"outcome":{"type":"string"},"price":{"type":"number"}}}}}},"coverage":{"$ref":"#/components/schemas/V3Timerange"},"dataMode":{"type":"string","enum":["fills_only"]},"coverageStatus":{"type":"string","enum":["available","metadata_only","raw_fills_available","materialized_pending","failed_validation"],"description":"`available` means the filled-data object exists for this market and can be used for filled-data backtesting. Other statuses explain where a discovered market is in the ingestion pipeline."},"coverageReason":{"type":"string","description":"Optional catalog-provided explanation for the coverage status, such as metadata-only discovery without matched fills."},"backtestSupported":{"type":"boolean"},"deploymentSupported":{"type":"boolean","description":"Live Polymarket deployment is intentionally separate from filled-data backtesting."},"matchedKeywords":{"type":"array","items":{"type":"string"}}}},"V3MarketSearchResponse":{"type":"object","required":["status","candidates"],"additionalProperties":false,"properties":{"status":{"type":"string","enum":["candidates_found","not_found"]},"candidates":{"type":"array","items":{"$ref":"#/components/schemas/V3MarketCandidate"}}}},"V3BacktestPlanResponse":{"type":"object","required":["tenantId","strategyId","status","executionCluster","namespace","plannedResources","resources"],"additionalProperties":false,"properties":{"tenantId":{"type":"string"},"backtestId":{"type":"string"},"strategyId":{"type":"string"},"status":{"type":"string","enum":["queued","blocked"]},"reason":{"type":"string","enum":["DatasetNotReady","DatasetRunnerNotReady","StrategySourceTooLarge"]},"executionCluster":{"type":"string","enum":["london","tokyo"]},"namespace":{"type":"string"},"resultUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"plannedResources":{"type":"array","items":{"type":"string"}},"resources":{"type":"array","items":{"$ref":"#/components/schemas/V3KubernetesResource"}}}},"V3BacktestStatusResponse":{"type":"object","required":["id","status"],"additionalProperties":true,"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending","running","completed","failed"]},"resultUrl":{"type":"string","pattern":"^gs://[^/]+/.+"},"k8sJobName":{"type":"string"},"results":{"type":"object","additionalProperties":true}}},"V3BacktestResultResponse":{"type":"object","required":["backtest_id","status"],"additionalProperties":false,"properties":{"backtest_id":{"type":"string"},"status":{"type":"string","enum":["pending","running","completed","failed"]},"resultUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"result":{"type":"object","additionalProperties":true},"message":{"type":"string"}}},"V3BacktestLogsResponse":{"type":"object","required":["backtest_id","items"],"additionalProperties":false,"properties":{"backtest_id":{"type":"string"},"items":{"type":"array","items":{"type":"object","required":["timestamp","message"],"additionalProperties":false,"properties":{"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"severity":{"type":"string"}}}},"nextCursor":{"type":"string"},"message":{"type":"string"}}},"V3KubernetesResource":{"type":"object","required":["apiVersion","kind","metadata"],"additionalProperties":true,"properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"metadata":{"type":"object","additionalProperties":true},"spec":{"type":"object","additionalProperties":true},"data":{"type":"object","additionalProperties":{"type":"string"}}}},"V3BlockedResponse":{"type":"object","required":["status","reason"],"additionalProperties":true,"properties":{"status":{"type":"string","enum":["blocked"]},"reason":{"type":"string"}}},"V3Timerange":{"type":"object","required":["start","end"],"additionalProperties":false,"properties":{"start":{"type":"string","format":"date-time"},"end":{"type":"string","format":"date-time"}}}}},"paths":{"/auth/sign-in/magic-link":{"post":{"tags":["Authentication"],"summary":"Request API key","description":"Send your email to receive an API key directly. The API key will be sent to your inbox. Use the key in the x-api-key header for authenticated requests. We will verify the email once the API key is used","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","format":"email","description":"Your email address"}}}}}},"responses":{"200":{"description":"Magic link sent successfully","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"boolean","example":true}}}}}}}}},"/auth/api-key":{"post":{"tags":["Authentication"],"summary":"Create API key","description":"Create a new API key for authenticated users. Returns the API key value which can be used in the x-api-key header for authenticated requests.","security":[{"BearerAuth":[]}],"responses":{"200":{"description":"API key created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"string","description":"The API key value"},"id":{"type":"string","description":"The API key ID"},"name":{"type":"string","description":"Optional name for the key"},"prefix":{"type":"string","description":"Key prefix for identification"},"expiresAt":{"type":"string","format":"date-time","nullable":true,"description":"Expiration date"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"}}}}}}}},"get":{"tags":["Authentication"],"summary":"List API keys","description":"List all API keys associated with the authenticated user.","security":[{"BearerAuth":[]}],"responses":{"200":{"description":"List of API keys","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"The API key ID"},"name":{"type":"string","nullable":true,"description":"Optional name for the key"},"prefix":{"type":"string","description":"Key prefix for identification"},"refillInterval":{"type":"integer","nullable":true,"description":"Auto-refill interval in milliseconds"},"refillAmount":{"type":"integer","nullable":true,"description":"Auto-refill amount"},"lastRefillAt":{"type":"string","format":"date-time","nullable":true,"description":"Last refill timestamp"},"enabled":{"type":"boolean","description":"Whether the key is enabled"},"rateLimitEnabled":{"type":"boolean","description":"Whether rate limiting is enabled"},"rateLimitTimeWindow":{"type":"integer","description":"Rate limit time window in milliseconds"},"rateLimitMax":{"type":"integer","description":"Maximum requests per time window"},"requestCount":{"type":"integer","description":"Current request count"},"remaining":{"type":"integer","nullable":true,"description":"Remaining requests"},"expiresAt":{"type":"string","format":"date-time","nullable":true,"description":"Expiration date"},"createdAt":{"type":"string","format":"date-time","description":"Creation date"}}}},"nextCursor":{"type":"string","nullable":true,"description":"Cursor for next page"}}}}}}}}},"/auth/api-key/{id}":{"patch":{"tags":["Authentication"],"summary":"Rename API key","description":"Update the name of an API key. Only the owner (matching referenceId) can rename their own API key.","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The ID of the API key to rename"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"New name for the API key (must be non-empty)"}}}}}},"responses":{"200":{"description":"API key renamed successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"name":{"type":"string","description":"The updated name"}}}}}},"400":{"description":"Invalid request - name is empty","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"API key not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Authentication"],"summary":"Delete API key","description":"Delete an API key by providing its ID in the path.","security":[{"BearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The ID of the API key to delete"}],"responses":{"200":{"description":"API key deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}}}}}}}}},"/health":{"get":{"summary":"Health check","description":"Returns the health status of the API server. Use this endpoint to verify the service is running and accessible.","security":[],"responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok"},"timestamp":{"type":"string","format":"date-time"}}}}}}}}},"/v1/backtesting":{"get":{"tags":["Backtesting"],"summary":"List all backtests","description":"Retrieves a paginated list of all backtest runs. Each backtest represents a historical simulation of a strategy on a specific trading pair and time range.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["pending","running","completed","failed"]},"description":"Filter by backtest status"},{"name":"limit","in":"query","required":false,"schema":{"type":"number","default":10},"description":"Number of results to return"},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from previous response"},{"name":"with_code","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include strategy code in response (default: true)"},{"name":"with_config","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include config in response (default: true)"}],"responses":{"200":{"description":"List of backtests with pagination","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Backtest"}},"nextCursor":{"type":"string","nullable":true}}}}}}},"deprecated":true},"post":{"tags":["Backtesting"],"summary":"Create and start a new backtest","description":"Creates a new backtest run and immediately starts execution. The backtest simulates the strategy on historical data for the specified trading pair and time range. Returns immediately with the backtest ID and initial status.","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["config","code","timerange"],"properties":{"config":{"type":"object","description":"Freqtrade configuration (exchange, stake_currency, etc.)"},"code":{"type":"string","description":"Strategy code/implementation (Python with freqtrade IStrategy)"},"timerange":{"type":"object","description":"Historical time range for the backtest","required":["start","end"],"properties":{"start":{"type":"string","description":"Start date","example":"2025-01-01"},"end":{"type":"string","description":"End date","example":"2025-12-31"}}}}}}}},"responses":{"201":{"description":"Backtest created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"pending"},"message":{"type":"string","description":"Instructions for starting the backtest"}}}}}},"400":{"description":"Invalid request - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/backtesting/{id}":{"get":{"tags":["Backtesting"],"summary":"Get backtest by ID","description":"Retrieves complete details of a specific backtest including current status and results (if completed). Download full results via `resultUrl` when present. Note: the inline `results` field can be `null` even on completed runs — when that happens, the freqtrade run summary (trade count, profit, drawdown) is available in the job output via `GET /{id}/logs`.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"responses":{"200":{"description":"Backtest details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Backtest"}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true},"delete":{"tags":["Backtesting"],"summary":"Delete a backtest","description":"Deletes a backtest and cleans up its Kubernetes job if present. Completed backtests are soft deleted; pending, running, and failed backtests are hard deleted.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"responses":{"200":{"description":"Backtest deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/backtesting/{id}/status":{"get":{"tags":["Backtesting"],"summary":"Get backtest status","description":"Retrieves the current status of a backtest. Use this endpoint to poll for updates while a backtest is running.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"responses":{"200":{"description":"Backtest status","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending","running","completed","failed"]}}}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true},"put":{"tags":["Backtesting"],"summary":"Update backtest status","description":"Controls the execution of a backtest. Use \"start\" to begin a pending backtest, or \"stop\" to cancel a running or pending backtest. Stopping will terminate the Kubernetes pod and mark the backtest as cancelled.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["action"],"properties":{"action":{"type":"string","enum":["start","stop"],"description":"Action to perform: \"start\" begins a pending backtest, \"stop\" cancels a running/pending backtest"}}}}}},"responses":{"200":{"description":"Status updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"previous_status":{"type":"string"},"k8s_job_name":{"type":"string","description":"Kubernetes Job name"}}}}}},"400":{"description":"Invalid request - cannot perform action on current status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/backtesting/{id}/logs":{"get":{"tags":["Backtesting"],"summary":"Get backtest logs","description":"Retrieves logs from Cloud Logging for a specific backtest job. Supports pagination with pageSize and pageToken query parameters.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"},{"name":"pageSize","in":"query","schema":{"type":"number","default":100},"description":"Number of log entries to return"},{"name":"pageToken","in":"query","schema":{"type":"string"},"description":"Token for pagination"}],"responses":{"200":{"description":"Backtest logs","content":{"application/json":{"schema":{"type":"object","properties":{"backtest_id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","description":"Log timestamp"},"message":{"type":"string","description":"Log message"},"severity":{"type":"string","description":"Log severity level"}}}},"nextCursor":{"type":"string","nullable":true}}}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/deployment":{"get":{"tags":["Deployment"],"summary":"List all deployments","description":"Retrieves a paginated list of all live trading deployments. Each deployment represents a strategy running in a live trading environment.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["pending","running","stopped"]},"description":"Filter by deployment status"},{"name":"credentials_status","in":"query","required":false,"schema":{"type":"string","enum":["stored","missing"]},"description":"Filter by credentials status"},{"name":"wallet_address","in":"query","required":false,"schema":{"type":"string"},"description":"Filter by wallet address"},{"name":"limit","in":"query","required":false,"schema":{"type":"number","default":10},"description":"Number of results to return"},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from previous response"},{"name":"with_code","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include strategy code in response (default: true)"},{"name":"with_config","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include config in response (default: true)"}],"responses":{"200":{"description":"List of deployments with pagination","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Deployment"}},"nextCursor":{"type":"string","nullable":true}}}}}}},"deprecated":true},"post":{"tags":["Deployment"],"summary":"Create a new deployment","description":"Creates a new live trading deployment. The deployment will be created in \"pending\" status and a Kubernetes deployment will be provisioned. Add exchange credentials before starting the deployment.","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["config","code","name"],"properties":{"config":{"type":"object","description":"Freqtrade configuration"},"code":{"type":"string","description":"Strategy code/implementation"},"name":{"type":"string","description":"Human-readable name for this deployment","example":"Production BTC/USDT"},"alive_until":{"type":"string","format":"date-time","description":"Optional ISO-8601 date-time with timezone for automatic stop."}}}}}},"responses":{"201":{"description":"Deployment created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"config":{"type":"object"},"code":{"type":"string"},"name":{"type":"string"},"replicas":{"type":"number","example":1},"status":{"type":"string","example":"running"},"k8s_deployment_name":{"type":"string"},"alive_until":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Invalid request - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/deployment/{id}":{"get":{"tags":["Deployment"],"summary":"Get deployment by ID","description":"Retrieves complete details of a specific deployment including status, replica count, and Kubernetes metadata.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Deployment ID"}],"responses":{"200":{"description":"Deployment details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Deployment"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true},"delete":{"tags":["Deployment"],"summary":"Delete a deployment","description":"Permanently deletes a deployment and removes the Kubernetes resources. Ensure the deployment is stopped before deletion. Note: the trading-wallet link is released **asynchronously** — if you recreate a deployment immediately, the idle-wallet picker may grab a different account. Wait ~60s after deletion, or bind explicitly by passing `wallet_address` to the credentials endpoint.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Deployment ID"}],"responses":{"200":{"description":"Deployment deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/deployment/{id}/status":{"get":{"tags":["Deployment"],"summary":"Get deployment status","description":"Retrieves the current status of a deployment including live Kubernetes status, replica counts, and pod information. Use this to monitor deployment health.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Deployment ID"}],"responses":{"200":{"description":"Deployment status with live K8s data","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending","running","stopped","stopping"]},"replicas":{"type":"number"},"available_replicas":{"type":"number"},"pods":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string"},"restarts":{"type":"number"}}}}}}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true},"put":{"tags":["Deployment"],"summary":"Update deployment status","description":"Controls the execution of a live deployment. Use \"start\" to begin trading (scales Kubernetes replicas to 1), or \"stop\" to halt trading (scales to 0). The deployment must have exchange credentials configured before starting.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Deployment ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["action"],"properties":{"action":{"type":"string","enum":["start","stop"],"description":"Action to perform: \"start\" begins live trading, \"stop\" halts trading"},"alive_until":{"type":"string","format":"date-time","description":"Optional ISO-8601 date-time with timezone applied when starting."}}}}}},"responses":{"200":{"description":"Status updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"previous_status":{"type":"string"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/deployment/{id}/credentials":{"post":{"tags":["Deployment"],"summary":"Add exchange credentials","description":"Stores exchange API credentials for a deployment. Supports two modes:\n\n1. **Account Main Private Key**: Use the main account's private key - both `private_key` and `wallet_address` should be from the main account.\n\n2. **API Wallet Private Key**: Use an API wallet's private key - `private_key` is from the API wallet, but `wallet_address` must still be from the main account (for signing transactions).","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Deployment ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["exchange"],"properties":{"exchange":{"type":"string","description":"Exchange name","enum":["hyperliquid","aerodrome","binance"]},"private_key":{"type":"string","minLength":64,"description":"Wallet private key for wallet-based exchanges (Hyperliquid, Aerodrome)"},"wallet_address":{"type":"string","description":"Wallet address for wallet-based exchanges (Hyperliquid, Aerodrome)"},"api_key":{"type":"string","description":"API key for API-key exchanges (Binance)"},"api_secret":{"type":"string","description":"API secret for API-key exchanges (Binance)"}}},"examples":{"hyperliquid":{"summary":"Hyperliquid wallet credentials","value":{"exchange":"hyperliquid","wallet_address":"0x1234567890123456789012345678901234567890","private_key":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcd"}},"aerodrome":{"summary":"Aerodrome wallet credentials","value":{"exchange":"aerodrome","wallet_address":"0x1234567890123456789012345678901234567890","private_key":"0xabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcd"}},"binance":{"summary":"Binance API key credentials","value":{"exchange":"binance","api_key":"BINANCE_API_KEY","api_secret":"BINANCE_API_SECRET"}}}}}},"responses":{"200":{"description":"Credentials stored successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"credentials_status":{"type":"string","example":"stored"},"exchange":{"type":"string"},"updated_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Invalid request - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/deployment/{id}/exit":{"post":{"tags":["Deployment"],"summary":"Exit all positions","description":"Closes all open orders and closes all open positions using market orders for the deployment's exchange account. The deployment must be stopped before exiting positions.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Deployment ID"}],"responses":{"200":{"description":"Positions exited successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"orders_cancelled":{"type":"number","description":"Number of orders cancelled"},"positions_closed":{"type":"number","description":"Number of positions closed"}}}}}},"400":{"description":"Invalid request - deployment must be stopped or credentials missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v1/deployment/{id}/logs":{"get":{"tags":["Deployment"],"summary":"Get deployment logs","description":"Retrieves logs from Cloud Logging for a specific deployment. Supports pagination with pageSize and pageToken query parameters.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Deployment ID"},{"name":"pageSize","in":"query","schema":{"type":"number","default":100},"description":"Number of log entries to return"},{"name":"pageToken","in":"query","schema":{"type":"string"},"description":"Token for pagination"}],"responses":{"200":{"description":"Deployment logs","content":{"application/json":{"schema":{"type":"object","properties":{"deployment_id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","description":"Log timestamp"},"message":{"type":"string","description":"Log message"},"severity":{"type":"string","description":"Log severity level"}}}},"nextCursor":{"type":"string","nullable":true}}}}}},"404":{"description":"Deployment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"deprecated":true}},"/v2/backtesting":{"get":{"tags":["BacktestingV2"],"summary":"List all backtests","description":"Retrieves a paginated list of all backtest runs. Each backtest represents a historical simulation of a strategy on a specific trading pair and time range.","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["pending","running","completed","failed"]},"description":"Filter by backtest status"},{"name":"limit","in":"query","required":false,"schema":{"type":"number","default":10},"description":"Number of results to return"},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from previous response"},{"name":"with_code","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include strategy code in response (default: true)"},{"name":"with_config","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include config in response (default: true)"}],"responses":{"200":{"description":"List of backtests with pagination","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Backtest"}},"nextCursor":{"type":"string","nullable":true}}}}}}}},"post":{"tags":["BacktestingV2"],"summary":"Create and start a new backtest","description":"Creates a new backtest run and immediately starts execution. The backtest simulates the strategy on historical data for the specified trading pair and time range. Returns immediately with the backtest ID and initial status.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["config","code","timerange"],"properties":{"config":{"type":"object","description":"Freqtrade configuration (exchange, stake_currency, etc.)"},"code":{"type":"string","description":"Strategy code/implementation (Python with freqtrade IStrategy)"},"timerange":{"type":"object","description":"Historical time range for the backtest","required":["start","end"],"properties":{"start":{"type":"string","description":"Start date","example":"2025-01-01"},"end":{"type":"string","description":"End date","example":"2025-12-31"}}}}},"examples":{"hyperliquidBtcMomentum":{"summary":"Hyperliquid BTC momentum backtest","value":{"config":{"exchange":{"name":"hyperliquid"},"stake_currency":"USDC","stake_amount":100,"timeframe":"5m","pair_whitelist":["BTC/USDC:USDC"]},"code":"from freqtrade.strategy import IStrategy\nfrom pandas import DataFrame\n\nclass HyperliquidBtcMomentumStrategy(IStrategy):\n    timeframe = \"5m\"\n    minimal_roi = {\"0\": 0.02}\n    stoploss = -0.04\n    startup_candle_count = 50\n\n    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe[\"ema_fast\"] = dataframe[\"close\"].ewm(span=12).mean()\n        dataframe[\"ema_slow\"] = dataframe[\"close\"].ewm(span=26).mean()\n        return dataframe\n\n    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] > dataframe[\"ema_slow\"], \"enter_long\"] = 1\n        return dataframe\n\n    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] < dataframe[\"ema_slow\"], \"exit_long\"] = 1\n        return dataframe","timerange":{"start":"2025-01-01","end":"2025-01-31"},"fee":0.00035}},"hyperliquidEthSwing":{"summary":"Hyperliquid ETH swing backtest","value":{"config":{"exchange":{"name":"hyperliquid"},"stake_currency":"USDC","stake_amount":250,"timeframe":"1h","pair_whitelist":["ETH/USDC:USDC"]},"code":"from freqtrade.strategy import IStrategy\nfrom pandas import DataFrame\n\nclass HyperliquidEthSwingStrategy(IStrategy):\n    timeframe = \"1h\"\n    minimal_roi = {\"0\": 0.02}\n    stoploss = -0.04\n    startup_candle_count = 50\n\n    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe[\"ema_fast\"] = dataframe[\"close\"].ewm(span=12).mean()\n        dataframe[\"ema_slow\"] = dataframe[\"close\"].ewm(span=26).mean()\n        return dataframe\n\n    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] > dataframe[\"ema_slow\"], \"enter_long\"] = 1\n        return dataframe\n\n    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] < dataframe[\"ema_slow\"], \"exit_long\"] = 1\n        return dataframe","timerange":{"start":"2025-02-01","end":"2025-03-01"},"fee":0.0004}},"hyperliquidSolScalper":{"summary":"Hyperliquid SOL scalper backtest","value":{"config":{"exchange":{"name":"hyperliquid"},"stake_currency":"USDC","stake_amount":75,"timeframe":"3m","pair_whitelist":["SOL/USDC:USDC"]},"code":"from freqtrade.strategy import IStrategy\nfrom pandas import DataFrame\n\nclass HyperliquidSolScalperStrategy(IStrategy):\n    timeframe = \"3m\"\n    minimal_roi = {\"0\": 0.02}\n    stoploss = -0.04\n    startup_candle_count = 50\n\n    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe[\"ema_fast\"] = dataframe[\"close\"].ewm(span=12).mean()\n        dataframe[\"ema_slow\"] = dataframe[\"close\"].ewm(span=26).mean()\n        return dataframe\n\n    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] > dataframe[\"ema_slow\"], \"enter_long\"] = 1\n        return dataframe\n\n    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] < dataframe[\"ema_slow\"], \"exit_long\"] = 1\n        return dataframe","timerange":{"start":"2025-04-01","end":"2025-04-15"},"fee":0.00035}},"aerodromeWethUsdc":{"summary":"Aerodrome WETH/USDC spot backtest","value":{"config":{"exchange":{"name":"aerodrome"},"stake_currency":"USDC","stake_amount":50,"timeframe":"15m","pair_whitelist":["WETH/USDC"]},"code":"from freqtrade.strategy import IStrategy\nfrom pandas import DataFrame\n\nclass AerodromeWethUsdcStrategy(IStrategy):\n    timeframe = \"15m\"\n    minimal_roi = {\"0\": 0.02}\n    stoploss = -0.04\n    startup_candle_count = 50\n\n    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe[\"ema_fast\"] = dataframe[\"close\"].ewm(span=12).mean()\n        dataframe[\"ema_slow\"] = dataframe[\"close\"].ewm(span=26).mean()\n        return dataframe\n\n    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] > dataframe[\"ema_slow\"], \"enter_long\"] = 1\n        return dataframe\n\n    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] < dataframe[\"ema_slow\"], \"exit_long\"] = 1\n        return dataframe","timerange":{"start":"2025-03-01","end":"2025-03-31"}}},"aerodromeAeroUsdc":{"summary":"Aerodrome AERO/USDC spot backtest","value":{"config":{"exchange":{"name":"aerodrome"},"stake_currency":"USDC","stake_amount":40,"timeframe":"30m","pair_whitelist":["AERO/USDC"]},"code":"from freqtrade.strategy import IStrategy\nfrom pandas import DataFrame\n\nclass AerodromeAeroUsdcStrategy(IStrategy):\n    timeframe = \"30m\"\n    minimal_roi = {\"0\": 0.02}\n    stoploss = -0.04\n    startup_candle_count = 50\n\n    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe[\"ema_fast\"] = dataframe[\"close\"].ewm(span=12).mean()\n        dataframe[\"ema_slow\"] = dataframe[\"close\"].ewm(span=26).mean()\n        return dataframe\n\n    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] > dataframe[\"ema_slow\"], \"enter_long\"] = 1\n        return dataframe\n\n    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] < dataframe[\"ema_slow\"], \"exit_long\"] = 1\n        return dataframe","timerange":{"start":"2025-05-01","end":"2025-05-31"}}},"binanceBtcUsdt":{"summary":"Binance BTC/USDT spot backtest","value":{"config":{"exchange":{"name":"binance"},"stake_currency":"USDT","stake_amount":100,"timeframe":"15m","pair_whitelist":["BTC/USDT"]},"code":"from freqtrade.strategy import IStrategy\nfrom pandas import DataFrame\n\nclass BinanceBtcUsdtStrategy(IStrategy):\n    timeframe = \"15m\"\n    minimal_roi = {\"0\": 0.02}\n    stoploss = -0.04\n    startup_candle_count = 50\n\n    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe[\"ema_fast\"] = dataframe[\"close\"].ewm(span=12).mean()\n        dataframe[\"ema_slow\"] = dataframe[\"close\"].ewm(span=26).mean()\n        return dataframe\n\n    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] > dataframe[\"ema_slow\"], \"enter_long\"] = 1\n        return dataframe\n\n    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:\n        dataframe.loc[dataframe[\"ema_fast\"] < dataframe[\"ema_slow\"], \"exit_long\"] = 1\n        return dataframe","timerange":{"start":"2025-06-01","end":"2025-06-30"}}}}}}},"responses":{"201":{"description":"Backtest created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"pending"},"message":{"type":"string","description":"Instructions for starting the backtest"}}}}}},"400":{"description":"Invalid request - missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/backtesting/{id}":{"get":{"tags":["BacktestingV2"],"summary":"Get backtest by ID","description":"Retrieves complete details of a specific backtest including current status and results (if completed). Download full results via `resultUrl` when present. Note: the inline `results` field can be `null` even on completed runs — when that happens, the freqtrade run summary (trade count, profit, drawdown) is available in the job output via `GET /{id}/logs`.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"responses":{"200":{"description":"Backtest details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Backtest"}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["BacktestingV2"],"summary":"Update a backtest","description":"Update fields on a backtest. Currently supports renaming.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"New name for the backtest (1-255 characters, trimmed)","example":"BTC 5m Trend Following"}}}}}},"responses":{"200":{"description":"Backtest updated successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Backtest"}}}},"400":{"description":"Invalid request - validation failed or no fields provided","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["BacktestingV2"],"summary":"Delete a backtest","description":"Deletes a backtest and cleans up its Kubernetes job if present. Completed backtests are soft deleted; pending, running, and failed backtests are hard deleted.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"responses":{"200":{"description":"Backtest deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/backtesting/{id}/status":{"get":{"tags":["BacktestingV2"],"summary":"Get backtest status","description":"Retrieves the current status of a backtest. Use this endpoint to poll for updates while a backtest is running.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"responses":{"200":{"description":"Backtest status","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending","running","completed","failed"]}}}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"put":{"tags":["BacktestingV2"],"summary":"Update backtest status","description":"Controls the execution of a backtest. Use \"start\" to begin a pending backtest, or \"stop\" to cancel a running or pending backtest. Stopping will terminate the Kubernetes pod and mark the backtest as cancelled.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["action"],"properties":{"action":{"type":"string","enum":["start","stop"],"description":"Action to perform: \"start\" begins a pending backtest, \"stop\" cancels a running/pending backtest"}}}}}},"responses":{"200":{"description":"Status updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string"},"previous_status":{"type":"string"},"k8s_job_name":{"type":"string","description":"Kubernetes Job name"}}}}}},"400":{"description":"Invalid request - cannot perform action on current status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/backtesting/{id}/logs":{"get":{"tags":["BacktestingV2"],"summary":"Get backtest logs","description":"Retrieves logs from Cloud Logging for a specific backtest job. Supports pagination with pageSize and pageToken query parameters.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"Backtest ID"},{"name":"pageSize","in":"query","schema":{"type":"number","default":100},"description":"Number of log entries to return"},{"name":"pageToken","in":"query","schema":{"type":"string"},"description":"Token for pagination"}],"responses":{"200":{"description":"Backtest logs","content":{"application/json":{"schema":{"type":"object","properties":{"backtest_id":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"string","description":"Log timestamp"},"message":{"type":"string","description":"Log message"},"severity":{"type":"string","description":"Log severity level"}}}},"nextCursor":{"type":"string","nullable":true}}}}}},"404":{"description":"Backtest not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/backtesting-data/hyperliquid":{"get":{"tags":["BacktestingDataV2"],"summary":"Check Hyperliquid backtesting data availability","description":"Checks if backtest data is available for a given trading pair and timeframe on Hyperliquid.","parameters":[{"name":"pair","in":"query","required":true,"schema":{"type":"string"},"description":"Trading pair (e.g., BTC/USDC:USDC)"},{"name":"timeframe","in":"query","required":false,"schema":{"type":"string","default":"5m"},"description":"Timeframe interval (e.g., 1m, 5m, 1h)"}],"responses":{"200":{"description":"Data availability information","content":{"application/json":{"schema":{"type":"object","properties":{"available":{"type":"boolean","description":"Whether data is available"},"pair":{"type":"string","description":"The trading pair"},"timeframe":{"type":"string","description":"The timeframe interval"},"from":{"type":"string","format":"date-time","description":"Start date of available data (present when available=true)"},"to":{"type":"string","format":"date-time","description":"End date of available data (present when available=true)"},"candles":{"type":"integer","description":"Number of candles available (present when available=true)"},"error":{"type":"string","description":"Error message explaining why data is not available (present when available=false)"}}}}}},"400":{"description":"Validation failed - missing required parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal error - failed to check data availability","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/backtesting-data/aerodrome":{"get":{"tags":["BacktestingDataV2"],"summary":"Check Aerodrome backtesting data availability","description":"Checks if backtest data is available for a given trading pair and timeframe on Aerodrome (Base DEX). Aerodrome fetches OHLCV live from Bitquery, so data is generally available even without pre-downloaded catalogs.","parameters":[{"name":"pair","in":"query","required":true,"schema":{"type":"string"},"description":"Trading pair (e.g., AERO/USDC)"},{"name":"timeframe","in":"query","required":false,"schema":{"type":"string","default":"5m"},"description":"Timeframe interval (e.g., 5m, 15m, 1h)"}],"responses":{"200":{"description":"Data availability information","content":{"application/json":{"schema":{"type":"object","properties":{"available":{"type":"boolean","description":"Whether data is available"},"pair":{"type":"string"},"timeframe":{"type":"string"},"from":{"type":"string","format":"date-time"},"to":{"type":"string","format":"date-time"},"candles":{"type":"integer"},"error":{"type":"string"}}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/backtesting-data/binance":{"get":{"tags":["BacktestingDataV2"],"summary":"Check Binance backtesting data availability","description":"Checks if backtest data is available for a given trading pair and timeframe on Binance.","parameters":[{"name":"pair","in":"query","required":true,"schema":{"type":"string"},"description":"Trading pair (e.g., BTC/USDT)"},{"name":"timeframe","in":"query","required":false,"schema":{"type":"string","default":"5m"},"description":"Timeframe interval (e.g., 1m, 5m, 1h)"}],"responses":{"200":{"description":"Data availability information","content":{"application/json":{"schema":{"type":"object","properties":{"available":{"type":"boolean","description":"Whether data is available"},"pair":{"type":"string","description":"The trading pair"},"timeframe":{"type":"string","description":"The timeframe interval"},"from":{"type":"string","format":"date-time","description":"Start date of available data (present when available=true)"},"to":{"type":"string","format":"date-time","description":"End date of available data (present when available=true)"},"candles":{"type":"integer","description":"Number of candles available (present when available=true)"},"error":{"type":"string","description":"Error message explaining why data is not available (present when available=false)"}}}}}},"400":{"description":"Validation failed - missing required parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Internal error - failed to check data availability","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/account":{"get":{"tags":["AccountV2"],"summary":"List trading accounts","description":"Lists trading accounts linked to the authenticated user, ordered by account index.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"responses":{"200":{"description":"Trading accounts","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Trading account display name from the account label"},"account_index":{"type":"number","description":"Trading account index"},"wallet_address":{"type":"string","nullable":true,"description":"Backward-compatible alias for the Hyperliquid wallet address"},"hyperliquid_wallet_address":{"type":"string","nullable":true,"description":"Privy-backed Hyperliquid trading wallet address"},"polymarket_wallet_address":{"type":"string","nullable":true,"description":"Polymarket deposit wallet address derived from the Hyperliquid wallet address"}}}}}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["AccountV2"],"summary":"Create a trading account","description":"Creates a new Privy-backed trading account for the authenticated user when fewer than 3 non-disabled trading accounts exist in the terminal database.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Optional display name stored as the trading account label."}}},"examples":{"namedAccount":{"value":{"name":"Momentum Vault"}}}}}},"responses":{"201":{"description":"Trading account created","content":{"application/json":{"schema":{"type":"object","properties":{"account":{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"account_index":{"type":"number"},"wallet_address":{"type":"string","nullable":true},"wallet_id":{"type":"string","nullable":true},"status":{"type":"string"}}}}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Terminal user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Trading account limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"limitReached":{"value":{"error":"trading_account_limit_reached","message":"Trading account limit reached","limit":3,"accounts_used":3}}}}}},"500":{"description":"Terminal database is not configured or account creation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/account/{address}":{"patch":{"tags":["AccountV2"],"summary":"Update trading account name","description":"Updates the display name for an active trading account selected by wallet address.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Trading account wallet address owned by the authenticated user."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"New display name stored as the trading account label."}}},"examples":{"renameAccount":{"value":{"name":"Momentum Vault"}}}}}},"responses":{"200":{"description":"Trading account updated","content":{"application/json":{"schema":{"type":"object","properties":{"account":{"type":"object","properties":{"name":{"type":"string"},"account_index":{"type":"number"},"wallet_address":{"type":"string"}}}}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested trading account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/account/{address}/polymarket":{"post":{"tags":["AccountV3"],"summary":"Bootstrap Polymarket onboarding for a trading account","description":"Uses a trading account wallet address owned by the authenticated user to return the Polymarket deposit target, accepted Polygon assets, and onboarding steps. This endpoint bootstraps the wallet/deposit flow; use `GET /v2/account/{address}/status/polymarket` to confirm readiness gates such as Superior API key creation, stored Polymarket CLOB credentials, approvals, and minimum balance. User wallet addresses that are not trading accounts are rejected.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Trading account wallet address owned by the authenticated user."}],"responses":{"200":{"description":"Polymarket onboarding details","content":{"application/json":{"schema":{"type":"object","properties":{"wallet_id":{"type":"string"},"chain":{"type":"string","example":"polygon"},"chain_id":{"type":"number","example":137},"gasless":{"type":"boolean","example":true},"account":{"type":"object","properties":{"type":{"type":"string","enum":["trading_account"]},"name":{"type":"string","description":"Trading account display name from the account label"},"account_index":{"type":"number"},"wallet_address":{"type":"string"}}},"onboarding":{"type":"object","properties":{"target":{"type":"string","enum":["polymarket"]},"account_type":{"type":"string","enum":["trading_account"]},"next_step":{"type":"string","enum":["deposit_polygon_assets","check_polymarket_status"],"description":"Next bootstrap action for this wallet. After funding/conversion, call the Polymarket status endpoint to verify API key and CLOB credential readiness."},"steps":{"type":"array","description":"Bootstrap checklist for getting funds onto Polygon and converted to pUSD. Runtime deployment readiness is reported by the status endpoint.","items":{"type":"object","properties":{"id":{"type":"string","enum":["verify_trading_account_wallet","deposit_polygon_assets","convert_to_pusd"]},"status":{"type":"string","enum":["complete","ready","available_after_deposit"]}}}}}},"accepted_assets":{"type":"array","items":{"type":"object","properties":{"symbol":{"type":"string","enum":["USDC","USDC.e"]},"address":{"type":"string"},"decimals":{"type":"number","example":6}}}}}}}}},"400":{"description":"Validation failed or trading wallet is not available in Privy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/account/{address}/hyperliquid":{"post":{"tags":["AccountV3"],"summary":"Bootstrap Hyperliquid onboarding for a trading account","description":"Uses a trading account wallet address owned by the authenticated user to bootstrap Hyperliquid onboarding. The route creates and approves the agent wallet when missing, configures the required builder fee, applies the linked referral when available, and returns ready onboarding state. Use `GET /v3/account/{address}/status/hyperliquid` to confirm final runtime readiness.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Trading account wallet address owned by the authenticated user."}],"responses":{"200":{"description":"Hyperliquid onboarding details","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","example":"arbitrum"},"chain_id":{"type":"number","example":42161},"account":{"type":"object","properties":{"type":{"type":"string","enum":["trading_account"]},"name":{"type":"string","description":"Trading account display name from the account label"},"account_index":{"type":"number"},"wallet_address":{"type":"string"}}},"onboarding":{"type":"object","properties":{"target":{"type":"string","enum":["hyperliquid"]},"account_type":{"type":"string","enum":["trading_account"]},"ready":{"type":"boolean"},"next_step":{"type":"string","enum":["create_agent_wallet","configure_builder_fee","check_hyperliquid_status"],"description":"Next bootstrap action for this wallet. When ready, call the Hyperliquid status endpoint to verify runtime readiness."},"blockers":{"type":"array","items":{"type":"string","enum":["agent_wallet_not_ready","builder_not_configured"]}},"steps":{"type":"array","description":"Bootstrap checklist for making the trading account ready for Hyperliquid deployments.","items":{"type":"object","properties":{"id":{"type":"string","enum":["verify_trading_account_wallet","create_agent_wallet","configure_builder_fee","check_hyperliquid_status"]},"status":{"type":"string","enum":["complete","ready","available_after_agent_wallet","available_after_builder"]}}}}}},"builder":{"type":"object","properties":{"configured":{"type":"boolean"},"address":{"type":"string"},"requiredFeePercent":{"type":"number","example":0.04},"feePercent":{"type":"number","example":0.04}}},"agentWallet":{"type":"object","properties":{"created":{"type":"boolean"},"address":{"type":"string","nullable":true}}},"referral":{"type":"object","properties":{"configured":{"type":"boolean"},"code":{"type":"string","nullable":true}}}}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Hyperliquid onboarding actions failed or did not complete","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/account/{address}/lighter":{"post":{"tags":["LighterV3"],"summary":"Onboard a Lighter account","description":"Checks for the Lighter account created by the first credited deposit to the authenticated user's signed primary Superior wallet, records its account index, and approves Superior-managed Lighter API key index 4 when needed. Trading-account wallets are rejected. The API-key approval transaction is returned as `api_key_approval_tx_hash`. Controlled by `FEATURE_LIGHTER_EXCHANGE`.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Authenticated user's signed primary Superior-managed Privy wallet."}],"responses":{"200":{"description":"Lighter account is fully onboarded"},"202":{"description":"Deposit is required/pending or API-key approval is pending"},"404":{"description":"Feature disabled or wallet not owned by the authenticated user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Lighter lookup or API-key approval failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/account/{address}/status/lighter":{"get":{"tags":["LighterV3"],"summary":"Get Lighter account readiness","description":"Returns account and API-key readiness separately via `account_ready` and `api_key_ready`. The combined `ready` field is true only when the Lighter account exists/funded and the Superior-managed Lighter API key is approved/stored. Pending approvals are returned as `api_key_approving` with `api_key_approval_tx_hash`.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Authenticated user's signed primary Superior-managed Privy wallet."}],"responses":{"200":{"description":"Current Lighter readiness state"},"404":{"description":"Feature disabled or wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Lighter lookup failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/portfolio/lighter/balance":{"get":{"tags":["LighterV3"],"summary":"Get Lighter account balance","description":"Returns the Lighter available balance and collateral for the authenticated user's signed primary Superior wallet. Trading-account wallets are rejected. Before the first credited deposit creates the Lighter account, this returns `needs_deposit` with zero balances instead of failing the documented pre-order safety check.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"owner_address","in":"query","required":true,"schema":{"type":"string"},"description":"Authenticated user's signed primary Superior-managed Privy wallet."}],"responses":{"200":{"description":"Current Lighter balance readiness","content":{"application/json":{"schema":{"type":"object","properties":{"venue":{"type":"string","enum":["lighter"]},"owner_address":{"type":"string"},"account_index":{"type":"number","nullable":true},"status":{"type":"string","enum":["needs_deposit","account_created"]},"account_ready":{"type":"boolean"},"ready":{"type":"boolean"},"available_balance":{"type":"string"},"collateral":{"type":"string"}}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Feature disabled or wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Lighter lookup failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Lighter account persistence is unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/account/{address}/status/{exchange}":{"get":{"tags":["AccountV2"],"summary":"Get account exchange status","description":"Returns exchange readiness for the requested account wallet. Use `hyperliquid` for referral, builder fee, and agent wallet readiness; use `polymarket` for full runtime onboarding readiness; use `lighter` for Lighter account creation, API-key provisioning, collateral, and available balance. For Polymarket, `polymarketWallet.address` is the derived Polymarket deposit wallet used for balances, funding, approvals, and CLOB funder operations. `onboarding.ready` is true only when the wallet is exportable, an active Superior API key exists, the wallet is onboarded, approvals are set, Polymarket CLOB API credentials are stored, and the wallet meets the minimum Polygon USDC balance.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Account wallet address owned by the authenticated user."},{"name":"exchange","in":"path","required":true,"schema":{"type":"string","enum":["hyperliquid","polymarket","lighter"]},"description":"Exchange readiness to return."}],"responses":{"200":{"description":"Account status","content":{"application/json":{"schema":{"type":"object","properties":{"accountTier":{"type":"string","enum":["free","pro"]},"referral":{"type":"object","properties":{"configured":{"type":"boolean"},"code":{"type":"string","nullable":true},"referredByUserId":{"type":"string","nullable":true},"linkedAt":{"type":"string","nullable":true,"format":"date-time"}}},"builder":{"type":"object","properties":{"configured":{"type":"boolean"},"address":{"type":"string"},"feePercent":{"type":"number"}}},"agentWallet":{"type":"object","properties":{"created":{"type":"boolean"},"address":{"type":"string"}}},"chain":{"type":"string","example":"polygon"},"chain_id":{"type":"number","example":137},"wallet":{"type":"object","properties":{"address":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"index":{"type":"number","nullable":true}}},"polymarketWallet":{"type":"object","nullable":true,"description":"The derived Polymarket deposit wallet used as the CLOB funder and balance source for Polymarket status responses.","properties":{"address":{"type":"string","nullable":true,"description":"Derived Polymarket deposit wallet address."},"type":{"type":"string","enum":["deposit"],"description":"Polymarket wallet role."},"derivedFrom":{"type":"string","nullable":true,"description":"Superior account wallet used to derive the Polymarket deposit wallet."}}},"onboarding":{"type":"object","properties":{"ready":{"type":"boolean","description":"True when all Polymarket runtime gates pass: exportable wallet, active Superior API key, Polymarket account row, post-wrap approvals, stored CLOB credentials, and minimum Polygon USDC balance."},"apiKeyCreated":{"type":"boolean","description":"True when the authenticated product user has at least one active, unexpired Superior API key."},"onboarded":{"type":"boolean","description":"True when the wallet has a Polymarket account record."},"approvalsSet":{"type":"boolean","description":"True when required Polymarket post-wrap allowances/approvals are stored or detected on-chain."},"clobCredentialsStored":{"type":"boolean","description":"True when Polymarket CLOB API key, secret, and passphrase are present server-side. Secret values are never returned."}}},"polymarketApi":{"type":"object","properties":{"credentialsStored":{"type":"boolean","description":"Alias for `onboarding.clobCredentialsStored`; true when CLOB credentials are stored server-side without exposing their values."}}},"balance":{"type":"object","properties":{"minimum":{"type":"string","example":"5"},"minimum_atoms":{"type":"string","example":"5000000"},"usdc":{"type":"string","example":"8.5"},"usdcNative":{"type":"string","example":"6"},"usdcE":{"type":"string","example":"2.5"},"pusd":{"type":"string","example":"1"},"pol":{"type":"string","example":"0.1"},"meetsMinimum":{"type":"boolean"}}},"venue":{"type":"string","enum":["lighter"],"description":"Present on Lighter status responses."},"owner_address":{"type":"string","description":"Superior-managed account wallet used as the Lighter owner."},"account_index":{"type":"number","nullable":true,"description":"Lighter account index, or null before the first credited deposit creates the account."},"status":{"type":"string","enum":["needs_deposit","deposit_pending","account_created","api_key_approving","key_provisioning_unknown","ready"],"description":"Lighter readiness state."},"account_ready":{"type":"boolean","description":"True when the Lighter account exists and collateral can be read."},"api_key_ready":{"type":"boolean","description":"True when the Superior-managed Lighter API key is approved and stored."},"ready":{"type":"boolean","description":"True when the Lighter account and Superior-managed API key are ready for trading."},"next_action":{"type":"string","nullable":true,"enum":["deposit","wait_for_deposit","approve_api_key","wait_for_api_key_approval","manual_review"],"description":"Recommended next Lighter setup action, or null when ready."},"available_balance":{"type":"string","description":"Lighter available balance for the owner account."},"collateral":{"type":"string","description":"Lighter collateral for the owner account."},"active_deposit":{"type":"object","nullable":true,"description":"Active Lighter deposit operation when the status is deposit_pending."},"api_key_approval_tx_hash":{"type":"string","nullable":true,"description":"Lighter transaction hash for API-key approval when available."}}}}}},"400":{"description":"Validation failed, unsupported exchange, or exchange setup is not ready","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/intelligence/scan":{"get":{"tags":["Intelligence V2"],"summary":"Get alpha scan","description":"Returns a filtered multi-bucket alpha scan from the agent server cache. Results can be narrowed by bucket, category, and top-N count.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"bucket","in":"query","required":false,"schema":{"type":"string","enum":["all","squeeze","stealth","coiled","basis"],"default":"all"},"description":"Alpha bucket to return. Use all to include every bucket."},{"name":"category","in":"query","required":false,"schema":{"type":"string","enum":["alts","tradfi","both"],"default":"alts"},"description":"Market category to include."},{"name":"top_n","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":10,"default":5},"description":"Number of rows to return per bucket or TradFi group."}],"responses":{"200":{"description":"Alpha scan results","content":{"application/json":{"schema":{"type":"object","properties":{"computed_at":{"type":"string","format":"date-time"},"methodology":{"type":"object","additionalProperties":{"type":"string"}},"timeframes":{"type":"array","items":{"type":"string","enum":["15m","1h","4h","24h"]}},"alts":{"type":"object","properties":{"scanned":{"type":"number"},"buckets":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"pair":{"type":"string"},"timeframe":{"type":"string"},"score":{"type":"number"},"snapshot":{"type":"object","additionalProperties":true},"best_fit":{"type":"object","additionalProperties":true}}}}}}},"tradfi":{"type":"object","properties":{"stocks":{"type":"array","items":{"type":"object","additionalProperties":true}},"indices":{"type":"array","items":{"type":"object","additionalProperties":true}},"commodities":{"type":"array","items":{"type":"object","additionalProperties":true}},"fx":{"type":"array","items":{"type":"object","additionalProperties":true}}}},"_note":{"type":"string"}}}}}},"400":{"description":"Invalid bucket or category","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Agent server alpha scan is unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/intelligence/setup/{pair}":{"get":{"tags":["Intelligence V2"],"summary":"Get pair setup card","description":"Returns a setup card for one scanned pair, including snapshot metrics, best fit, bucket scores, and presentation guidance.","security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"pair","in":"path","required":true,"schema":{"type":"string"},"description":"Pair symbol to look up. Prefixes are normalized when matching scanned pairs."}],"responses":{"200":{"description":"Pair setup card or not-found result","content":{"application/json":{"schema":{"type":"object","properties":{"pair":{"type":"string"},"found":{"type":"boolean"},"computed_at":{"type":"string","format":"date-time"},"snapshot":{"type":"object","additionalProperties":true},"best_fit":{"type":"object","additionalProperties":true},"bucket_fits":{"type":"array","items":{"type":"object","properties":{"bucket":{"type":"string","enum":["squeeze","stealth","coiled","basis"]},"bucket_title":{"type":"string"},"best_timeframe":{"type":"string","enum":["15m","1h","4h","24h"]},"best_score":{"type":"number"},"score_by_timeframe":{"type":"object","additionalProperties":{"type":"number"}}}}},"_note":{"type":"string"}}}}}},"400":{"description":"Pair path parameter is missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Agent server alpha scan is unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v2/leaderboard-strategies":{"get":{"tags":["Leaderboard V2"],"summary":"List leaderboard strategies","description":"Returns live paper-trading leaderboard strategies in snake_case for frontend and paper deployment clients.","security":[],"responses":{"200":{"description":"Live leaderboard strategies","content":{"application/json":{"schema":{"type":"object","properties":{"strategies":{"type":"array","items":{"type":"object","properties":{"slug":{"type":"string"},"name":{"type":"string"},"prompt":{"type":"string"},"params":{"type":"object","properties":{"pair":{"type":"string"},"timeframe":{"
[...]
