{"openapi":"3.0.0","info":{"title":"Superior Trade API v3","version":"3.0.0","description":"The cloud runtime for algorithmic trading strategies. Superior Trade runs your Freqtrade and NautilusTrader strategies as managed, always-on deployments — wallets, exchange credentials, order routing, and monitoring handled for you.\n\n**What this API does:**\n- **Backtest** strategies against real exchange history before any capital moves\n- **Deploy** strategies as managed live (or paper) runtimes — one call, no servers\n- **Wallets & funding** — platform-managed trading wallets, gasless deposits, builder-fee handling\n- **Venues** — Hyperliquid perps/spot (Freqtrade, v2), Polymarket prediction markets (NautilusTrader, v3), and feature-gated Lighter funding/readiness APIs\n\n**How these docs are organized — which group do I use?**\n\nThe sidebar has two main groups. They are not old-vs-new versions — they are two engines on two venues:\n- **v2 — Freqtrade · Hyperliquid**: run Freqtrade (Python) strategies on Hyperliquid perps/spot. Backtesting, live + paper deployments, funding, intelligence. **Most integrations start here.**\n- **v3 — Nautilus · Polymarket**: run NautilusTrader strategies on Polymarket prediction markets, plus the cross-venue account bootstrap/onboarding endpoints (the `/v3/account/{address}/hyperliquid` bootstrap is used by v2 integrations too).\n- **v3 — Lighter**: Superior-wallet CCTP funding, account readiness, and secure withdrawals back to the Superior wallet. Lighter creates the venue account on first credited deposit.\n- **Legacy v1** (bottom of the sidebar) is deprecated; do not build against it.\n\nPick the venue you trade, work inside that group, and dip into the other only for the account bootstrap.\n\n**Auth (two ways, one header each):**\n- API key from [account.superior.trade](https://account.superior.trade) → `x-api-key: st_live_…`\n- Privy session JWT (terminal users) → `Authorization: Bearer <jwt>`\n\n**Quickstart — zero to live deploy:**\n1. Create an API key at [account.superior.trade](https://account.superior.trade)\n2. `POST /v2/backtesting` with your Freqtrade strategy code → poll `GET /v2/backtesting/{id}/status`, fetch results via `resultUrl` (fall back to `GET /{id}/logs` for the run summary)\n3. Fund your trading account: `POST /v3/account/{address}/hyperliquid` (one-time bootstrap — creates the agent wallet, approves the builder fee) then `POST /v2/portfolio/hyperliquid/deposit`\n4. `POST /v2/deployment` with the validated strategy → `POST /{id}/credentials` → start it (use **PATCH** `/v2/deployment/{id}/status` — see the endpoint note vs the legacy PUT)\n5. Watch it: `GET /v2/deployment/{id}/status` and `/logs`\n\nPaper trading is identical via `/v2/paper-deployment` — same strategy code, simulated fills, no funding required.\n\n**Roadmap — more integrations coming:**\n- **NautilusTrader · Binance** — the Nautilus engine pointed at Binance markets.\n- **Intelligence Buckets deploy API** — deploy self-updating pair universes as a single strategy."},"servers":[{"url":"https://api.superior.trade","description":"Production"},{"url":"https://api-uat.superior.trade","description":"UAT"},{"url":"http://localhost:8080","description":"Development"}],"security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"tags":[{"name":"DeploymentV2","x-displayName":"Deployments","description":"Create and manage live Freqtrade deployments on Hyperliquid: CRUD, credentials, start/stop (use PATCH …/status), exit, logs."},{"name":"Paper Deployments V2","x-displayName":"Paper Deployments","description":"Same strategy code, simulated fills, no funding required."},{"name":"BacktestingV2","x-displayName":"Backtesting","description":"Run Freqtrade strategies against real Hyperliquid history before any capital moves."},{"name":"BacktestingDataV2","x-displayName":"Backtesting Data","description":"Which pairs/timeframes have history available for backtesting."},{"name":"AccountV2","x-displayName":"Account","description":"Trading accounts, deposit links, and readiness status."},{"name":"PortfolioV2","x-displayName":"Portfolio & Funding","description":"Move funds on/off Hyperliquid: deposits, withdrawals, exits."},{"name":"HyperliquidProxy","x-displayName":"Hyperliquid Proxy","description":"Authorize-and-send proxy for signed Hyperliquid actions."},{"name":"Intelligence V2","x-displayName":"Intelligence","description":"Alpha-scan and per-pair setup cards."},{"name":"Leaderboard V2","x-displayName":"Leaderboard","description":"Top-trader leaderboard data."},{"name":"Copy Trading V2","x-displayName":"Copy Trading","description":"Follow leaderboard strategies automatically."},{"name":"AccountV3","x-displayName":"Account & Onboarding","description":"Account bootstrap for v3 venues: Hyperliquid onboarding (agent wallet + builder fee), Polymarket deposit setup, and Lighter account/API-key readiness. v2 integrations use the Hyperliquid bootstrap here too."},{"name":"Market V3","x-displayName":"Markets","description":"Discover live Polymarket prediction markets."},{"name":"Backtesting V3","x-displayName":"Backtesting","description":"Run NautilusTrader strategies against historical Polymarket data. Strategy code is submitted inline in the request body."},{"name":"Deployment V3","x-displayName":"Deployments","description":"Create, start, stop, and exit live NautilusTrader deployments."},{"name":"PortfolioV3","x-displayName":"Portfolio & Funding","description":"Deposit/wrap USDC into Polymarket pUSD."},{"name":"PolymarketProxy","x-displayName":"Polymarket Proxy","description":"Direct Polymarket order placement and cancellation."},{"name":"Authentication","x-displayName":"Authentication","description":"Request, create, list, rename, and delete Superior Trade API keys."},{"name":"LighterProxy","x-displayName":"Lighter Proxy","description":"Direct Lighter signed transaction submission."},{"name":"LighterV3","x-displayName":"Lighter Accounts & Funding","description":"Feature-gated Lighter readiness, Superior-wallet CCTP funding, balances, and secure withdrawals back to the Superior wallet."},{"name":"Backtesting","x-displayName":"Backtesting (deprecated)","description":"Legacy backtesting endpoints (v1, deprecated)."},{"name":"Deployment","x-displayName":"Deployments (deprecated)","description":"Legacy deployment endpoints (v1, deprecated)."}],"x-tagGroups":[{"name":"v2 — Freqtrade · Hyperliquid","tags":["DeploymentV2","Paper Deployments V2","BacktestingV2","BacktestingDataV2","AccountV2","PortfolioV2","HyperliquidProxy","Intelligence V2","Leaderboard V2","Copy Trading V2"]},{"name":"v3 — Nautilus · Polymarket","tags":["AccountV3","Market V3","Backtesting V3","Deployment V3","PortfolioV3","PolymarketProxy","LighterProxy"]},{"name":"Shared","tags":["Authentication"]},{"name":"v3 — Lighter","tags":["LighterV3"]},{"name":"Legacy (v1, deprecated)","tags":["Backtesting","Deployment"]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"x-api-key","description":"API key authentication"},"BearerAuth":{"type":"http","scheme":"bearer","description":"JWT token from Privy embedded wallet authentication"}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error code identifier"},"message":{"type":"string","description":"Human-readable error message"}}},"Backtest":{"type":"object","properties":{"id":{"type":"string"},"config":{"type":"object","description":"Freqtrade configuration (exchange, stake_currency, etc.)"},"code":{"type":"string","description":"Strategy code/implementation"},"timerange":{"type":"object","properties":{"start":{"type":"string","description":"Start date (YYYY-MM-DD)"},"end":{"type":"string","description":"End date (YYYY-MM-DD)"}}},"status":{"type":"string","enum":["pending","running","completed","failed"]},"results":{"type":"object","deprecated":true,"properties":{"total_trades":{"type":"number"},"winning_trades":{"type":"number"},"losing_trades":{"type":"number"},"win_rate":{"type":"string"},"total_profit":{"type":"string"},"max_drawdown":{"type":"string"},"sharpe_ratio":{"type":"number"}},"description":"Deprecated. Use `resultUrl` to download full backtest results as JSON."},"resultUrl":{"type":"string","description":"Signed URL to download backtest results as JSON (valid for 7 days). Only available when status is \"completed\"."},"started_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time"},"k8s_job_name":{"type":"string","description":"Kubernetes Job name"}}},"Deployment":{"type":"object","properties":{"id":{"type":"string"},"config":{"type":"object","description":"Freqtrade configuration"},"code":{"type":"string","description":"Strategy code/implementation"},"name":{"type":"string","description":"Human-readable deployment name"},"replicas":{"type":"number","description":"Number of running instances (always 1)"},"status":{"type":"string","enum":["pending","running","stopped","stopping"]},"available_replicas":{"type":"number"},"pods":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"status":{"type":"string"},"restarts":{"type":"number"}}}},"credentials_status":{"type":"string","enum":["stored","missing"]},"exchange":{"type":"string","description":"Exchange name","enum":["hyperliquid","aerodrome","binance"]},"execution_mode":{"type":"string","enum":["live","dry-run"],"description":"Execution mode for this deployment"},"alive_until":{"type":"string","format":"date-time","nullable":true,"description":"Optional ISO-8601 date-time with timezone after which a running deployment is automatically stopped."},"k8s_deployment_name":{"type":"string"},"k8s_namespace":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"DeploymentHistory":{"type":"object","properties":{"id":{"type":"string"},"deployment_id":{"type":"string","description":"Associated deployment ID (survives deletion)"},"created_by":{"type":"string","description":"User who owns this history record"},"updated_by":{"type":"string","description":"User who last updated this record"},"wallet_address":{"type":"string","description":"Wallet or subaccount address used during this session"},"pnl":{"type":"string","description":"Aggregated realized PnL from all fills (decimal string)"},"trades":{"type":"array","description":"Individual trade fills from the exchange","items":{"type":"object","properties":{"coin":{"type":"string","description":"Asset symbol (e.g., BTC, ETH)"},"px":{"type":"string","description":"Fill price"},"sz":{"type":"string","description":"Fill size"},"side":{"type":"string","description":"B for Bid/Buy, A for Ask/Sell"},"time":{"type":"number","description":"Timestamp in milliseconds"},"closed_pnl":{"type":"string","description":"Realized PnL from this fill"},"dir":{"type":"string","description":"Direction (e.g., Open Long, Close Short)"},"fee":{"type":"string","description":"Trading fee"}}}},"started_at":{"type":"string","format":"date-time","description":"When the deployment session started"},"ended_at":{"type":"string","format":"date-time","description":"When the deployment session ended (null if still active)"},"created_at":{"type":"string","format":"date-time"}}},"CopyTradingTraderSummary":{"type":"object","properties":{"trades":{"type":"number","description":"Number of trades in the validation backtest"},"win_rate":{"type":"number","description":"Backtest win rate as a decimal fraction"},"profit_pct":{"type":"number","description":"Backtest profit percentage"},"max_dd_pct":{"type":"number","description":"Backtest max drawdown percentage"},"sharpe":{"type":"number","nullable":true,"description":"Backtest Sharpe ratio when available"},"profit_factor_str":{"type":"string","description":"Display-ready profit factor, or \"infinity\""}}},"CopyTradingTraderListItem":{"type":"object","properties":{"wallet_address":{"type":"string","description":"Trader wallet address"},"truncated_address":{"type":"string","description":"Short display address"},"display_name":{"type":"string","nullable":true,"description":"Reserved display name slot"},"template_chip":{"type":"string","description":"Fitted strategy template label"},"target_pair":{"type":"string","description":"Target trading pair selected by synthesis"},"trust_tier":{"type":"string","enum":["green","yellow","red"],"description":"Copy-trading trust tier"},"validated_at":{"type":"string","format":"date-time","description":"Validation timestamp"},"summary":{"$ref":"#/components/schemas/CopyTradingTraderSummary"}}},"CopyTradingTraderList":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CopyTradingTraderListItem"}},"total":{"type":"number","description":"Total matching traders before pagination"},"next_offset":{"type":"number","nullable":true,"description":"Offset for the next page, or null when no more results exist"}}},"CopyTradingTraderCard":{"allOf":[{"$ref":"#/components/schemas/CopyTradingTraderListItem"},{"type":"object","properties":{"profile":{"type":"object","nullable":true,"properties":{"pair_count":{"type":"number"},"top_pair":{"type":"string"},"taker_fraction":{"type":"number"},"wins":{"type":"number"},"losses":{"type":"number"},"win_rate":{"type":"number"},"median_notional_usd":{"type":"number"},"median_hold_sec":{"type":"number","nullable":true},"long_fraction":{"type":"number"},"last_fill_at":{"type":"string","format":"date-time"},"copyability_score":{"type":"number"},"copyability_reasons":{"type":"array","items":{"type":"string"}}}},"synthesis":{"type":"object","properties":{"fitted_template":{"type":"string"},"fitted_params":{"type":"object","additionalProperties":true},"target_pair":{"type":"string"},"strategy_code":{"type":"string"},"strategy_config":{"type":"object","additionalProperties":true},"audit":{"type":"object","properties":{"why_this_template":{"type":"string"},"regime_gate_explanation":{"type":"string"},"exit_explanation":{"type":"string"}}}}},"backtest":{"type":"object","properties":{"backtest_id":{"type":"string"},"window":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":"string"}}},"trades":{"type":"number"},"win_rate":{"type":"number"},"profit_pct":{"type":"number"},"profit_factor_str":{"type":"string"},"max_dd_pct":{"type":"number"},"sharpe":{"type":"number","nullable":true},"exit_reason_summary":{"type":"array","items":{"type":"object","additionalProperties":true}}}},"deployment_template":{"type":"object","properties":{"config":{"type":"object","additionalProperties":true},"stake_amount_recommended":{"type":"number"},"max_open_trades":{"type":"number"},"risk_envelope":{"type":"object","properties":{"max_daily_loss_pct":{"type":"number"},"max_drawdown_halt_pct":{"type":"number"}}}}},"prompt_seed":{"type":"string","description":"Prompt text for confirming and deploying the copied strategy"}}}]},"V3DeploymentRequest":{"type":"object","required":["deployment"],"additionalProperties":false,"properties":{"region":{"type":"string","enum":["london","tokyo"],"description":"Optional execution region."},"deployment":{"type":"object","required":["code","config"],"additionalProperties":false,"properties":{"code":{"type":"string","minLength":1,"description":"Nautilus strategy code for this deployment."},"config":{"type":"object","additionalProperties":true,"description":"Nautilus strategy config for this deployment."}}}}},"V3DeploymentPlanResponse":{"type":"object","required":["deployment","executionCluster","namespace","activeDeploymentIds","plannedResources","resources"],"additionalProperties":false,"properties":{"deployment":{"type":"object","required":["id","status"],"additionalProperties":false,"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["starting","blocked"]},"reason":{"type":"string","enum":["NoActiveDeployments","DeploymentArtifactNotReady","TenantRuntimeImageNotReady","RuntimeImageNotPinned"]}}},"executionCluster":{"type":"string","enum":["london","tokyo"]},"namespace":{"type":"string"},"region":{"type":"string","enum":["london","tokyo"]},"activeDeploymentIds":{"type":"array","items":{"type":"string"}},"plannedResources":{"type":"array","items":{"type":"string"}},"resources":{"type":"array","items":{"$ref":"#/components/schemas/V3KubernetesResource"}}}},"V3DeploymentStatusRequest":{"type":"object","required":["action"],"additionalProperties":false,"properties":{"action":{"type":"string","enum":["start","stop"]}}},"V3DeploymentStatusResponse":{"type":"object","required":["id","status","previous_status"],"additionalProperties":true,"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["running","stopped"]},"previous_status":{"type":"string","enum":["pending","running","stopped"]},"k8s_deployment_name":{"type":"string"},"namespace":{"type":"string"}}},"V3DeploymentDeleteResponse":{"type":"object","required":["id","message"],"additionalProperties":false,"properties":{"id":{"type":"string"},"message":{"type":"string"}}},"V3DeploymentListResponse":{"type":"object","required":["items","nextCursor"],"additionalProperties":false,"properties":{"items":{"type":"array","items":{"type":"object","additionalProperties":true}},"nextCursor":{"type":["string","null"]}}},"V3DeploymentLogsResponse":{"type":"object","required":["deployment_id","items"],"additionalProperties":false,"properties":{"deployment_id":{"type":"string"},"items":{"type":"array","items":{"type":"object","required":["timestamp","message"],"additionalProperties":false,"properties":{"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"severity":{"type":"string"}}}},"nextCursor":{"type":"string"},"message":{"type":"string"}}},"V3DeploymentCredentialsRequest":{"type":"object","required":["wallet_address"],"additionalProperties":false,"properties":{"wallet_address":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"Account wallet address selected from the authenticated user's account list for this deployment. Raw private keys are never accepted."}}},"V3DeploymentCredentialsResponse":{"type":"object","required":["id","credentials_status","exchange"],"additionalProperties":false,"properties":{"id":{"type":"string"},"credentials_status":{"type":"string","enum":["stored"]},"exchange":{"type":"string","enum":["polymarket","lighter"]},"wallet_address":{"type":"string"},"updated_at":{"type":"string","format":"date-time"}}},"V3BacktestRequest":{"oneOf":[{"$ref":"#/components/schemas/V3PolymarketBacktestRequest"},{"$ref":"#/components/schemas/V3LighterBacktestRequest"}]},"V3PolymarketBacktestRequest":{"type":"object","required":["tenantId","strategyId","marketSlugs","timerange","venueProfile","strategySource"],"additionalProperties":false,"properties":{"tenantId":{"type":"string","minLength":1},"backtestId":{"type":"string","minLength":1},"strategyId":{"type":"string","minLength":1},"marketSlugs":{"type":"array","minItems":1,"items":{"type":"string","minLength":1}},"datasetRef":{"$ref":"#/components/schemas/V3PolymarketBacktestDatasetRef"},"startingBalance":{"type":"number","exclusiveMinimum":0,"default":1000},"timerange":{"$ref":"#/components/schemas/V3Timerange"},"venueProfile":{"type":"string","enum":["polymarket-london"]},"codeRef":{"type":"string","minLength":1,"description":"Optional strategy source path. Defaults to strategies/{strategyId}/strategy.py."},"configRef":{"type":"string","minLength":1,"description":"Optional strategy config path. Defaults to strategies/{strategyId}/config.json."},"strategySource":{"type":"string","minLength":1,"maxLength":262144,"description":"Required inline Nautilus strategy source mounted and executed by the runner."},"strategyConfig":{"type":"object","additionalProperties":true,"default":{},"description":"Optional strategy configuration passed to the Nautilus StrategyConfig class."},"datasetPrefix":{"type":"string","minLength":1,"default":"backtesting-data/polymarket"},"resultPrefix":{"type":"string","minLength":1,"default":"backtest-results"},"resultBucket":{"type":"string","minLength":1,"default":"superior-trade-prod-superiortrade-user-data"},"feeBps":{"type":"number","minimum":0,"default":0},"slippageBps":{"type":"number","minimum":0,"default":5},"activeDeadlineSeconds":{"type":"integer","minimum":1,"maximum":86400,"default":3600}}},"V3LighterBacktestRequest":{"type":"object","required":["tenantId","strategyId","instruments","timerange","venueProfile","strategySource"],"additionalProperties":false,"properties":{"tenantId":{"type":"string","minLength":1},"backtestId":{"type":"string","minLength":1},"strategyId":{"type":"string","minLength":1},"instruments":{"type":"array","minItems":1,"items":{"type":"string","minLength":1,"pattern":"^.+\\.(LIGHTER|LIGHTER-RH)$"}},"datasetRef":{"$ref":"#/components/schemas/V3LighterBacktestDatasetRef"},"startingBalance":{"type":"number","exclusiveMinimum":0,"default":1000},"timerange":{"$ref":"#/components/schemas/V3Timerange"},"venueProfile":{"type":"string","enum":["lighter-tokyo","lighter-robinhood-tokyo"]},"codeRef":{"type":"string","minLength":1},"configRef":{"type":"string","minLength":1},"strategySource":{"type":"string","minLength":1,"maxLength":262144,"description":"Required inline Nautilus strategy source mounted and executed by the runner."},"strategyConfig":{"type":"object","additionalProperties":true,"default":{}},"datasetPrefix":{"type":"string","minLength":1,"default":"backtesting-data/lighter"},"resultPrefix":{"type":"string","minLength":1,"default":"backtest-results"},"resultBucket":{"type":"string","minLength":1,"default":"superior-trade-prod-superiortrade-user-data"},"feeBps":{"type":"number","minimum":0,"default":0},"slippageBps":{"type":"number","minimum":0,"default":5},"activeDeadlineSeconds":{"type":"integer","minimum":1,"maximum":86400,"default":3600}}},"V3PolymarketBacktestDatasetRef":{"type":"object","required":["manifestUri","datasetVersion","coverage","markets"],"additionalProperties":false,"properties":{"manifestUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"datasetVersion":{"type":"string","minLength":1},"checksumsUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"coverage":{"$ref":"#/components/schemas/V3Timerange"},"markets":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/V3PolymarketBacktestDatasetMarket"}}}},"V3PolymarketBacktestDatasetMarket":{"type":"object","required":["slug","conditionId","outcomeTokenIds"],"additionalProperties":false,"properties":{"slug":{"type":"string","minLength":1},"conditionId":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$"},"outcomeTokenIds":{"type":"array","minItems":1,"items":{"type":"string","minLength":1}}}},"V3LighterBacktestDatasetRef":{"type":"object","required":["manifestUri","datasetVersion","coverage","instruments"],"additionalProperties":false,"properties":{"manifestUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"datasetVersion":{"type":"string","minLength":1},"checksumsUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"coverage":{"$ref":"#/components/schemas/V3Timerange"},"instruments":{"type":"array","minItems":1,"items":{"$ref":"#/components/schemas/V3LighterBacktestDatasetInstrument"}}}},"V3LighterBacktestDatasetInstrument":{"type":"object","required":["instrumentId","marketId","symbol","series"],"additionalProperties":false,"properties":{"instrumentId":{"type":"string","pattern":"^.+\\.(LIGHTER|LIGHTER-RH)$"},"marketId":{"type":"integer","minimum":0},"symbol":{"type":"string","minLength":1},"series":{"type":"array","minItems":1,"items":{"type":"string","minLength":1}}}},"V3MarketSearchRequest":{"type":"object","required":["query"],"additionalProperties":false,"properties":{"query":{"type":"string","minLength":1,"description":"Natural-language market search text, such as `BTC 120k before July`."},"limit":{"type":"integer","minimum":1,"maximum":50,"default":10},"queryVariants":{"type":"array","maxItems":12,"items":{"type":"string","minLength":1},"description":"Optional Polymarket-native search variants generated by the caller. The API also applies bounded deterministic variants for broad discovery terms."},"intent":{"type":"string","enum":["backtest","discovery","deploy","monitor"],"default":"backtest","description":"Caller workflow hint. Results merge the configured market index or dataset records with live Polymarket metadata so ranking can account for current activity and recency."}}},"V3MarketCandidate":{"type":"object","required":["slug","coverage","dataMode","coverageStatus","backtestSupported","deploymentSupported","matchedKeywords"],"additionalProperties":false,"properties":{"slug":{"type":"string","description":"Exact market slug to pass as `marketSlugs[]` when creating a backtest."},"active":{"type":"boolean","description":"Latest Polymarket active state when live metadata provides it."},"closed":{"type":"boolean","description":"Latest Polymarket resolved/closed state when live metadata provides it."},"acceptingOrders":{"type":"boolean","description":"Whether Polymarket currently accepts orders for this market."},"question":{"type":"string"},"conditionId":{"type":"string","pattern":"^0x[0-9a-fA-F]{64}$","description":"Polymarket CTF condition id when the market can be deployed/traded directly."},"outcomeTokenIds":{"type":"array","minItems":1,"items":{"type":"string","minLength":1},"description":"Polymarket CLOB outcome token ids, ordered to match `outcomes` when available."},"outcomes":{"type":"array","items":{"type":"string","minLength":1},"description":"Human outcome labels from Polymarket metadata, ordered to match `outcomeTokenIds`."},"instrumentId":{"type":"string","pattern":"^[0-9]+\\.POLYMARKET$","description":"Default YES/first-outcome instrument id for direct Polymarket order placement."},"tradeCount":{"type":"number"},"liquidity":{"type":["number","null"]},"volume":{"type":["number","null"]},"volume24h":{"type":["number","null"]},"currentStats":{"type":"object","required":["source"],"additionalProperties":false,"description":"Best-effort live Polymarket stats used for ranking and display. These values come from live metadata and may be absent for catalog-only candidates.","properties":{"source":{"type":"string","enum":["polymarket_gamma"]},"bestBid":{"type":["number","null"]},"bestAsk":{"type":["number","null"]},"lastTradePrice":{"type":["number","null"]},"volume":{"type":["number","null"]},"volume24h":{"type":["number","null"]},"liquidity":{"type":["number","null"]},"outcomePrices":{"type":"array","items":{"type":"object","required":["outcome","price"],"additionalProperties":false,"properties":{"outcome":{"type":"string"},"price":{"type":"number"}}}}}},"coverage":{"$ref":"#/components/schemas/V3Timerange"},"dataMode":{"type":"string","enum":["fills_only"]},"coverageStatus":{"type":"string","enum":["available","metadata_only","raw_fills_available","materialized_pending","failed_validation"],"description":"`available` means the filled-data object exists for this market and can be used for filled-data backtesting. Other statuses explain where a discovered market is in the ingestion pipeline."},"coverageReason":{"type":"string","description":"Optional catalog-provided explanation for the coverage status, such as metadata-only discovery without matched fills."},"backtestSupported":{"type":"boolean"},"deploymentSupported":{"type":"boolean","description":"Live Polymarket deployment is intentionally separate from filled-data backtesting."},"matchedKeywords":{"type":"array","items":{"type":"string"}}}},"V3MarketSearchResponse":{"type":"object","required":["status","candidates"],"additionalProperties":false,"properties":{"status":{"type":"string","enum":["candidates_found","not_found"]},"candidates":{"type":"array","items":{"$ref":"#/components/schemas/V3MarketCandidate"}}}},"V3BacktestPlanResponse":{"type":"object","required":["tenantId","strategyId","status","executionCluster","namespace","plannedResources","resources"],"additionalProperties":false,"properties":{"tenantId":{"type":"string"},"backtestId":{"type":"string"},"strategyId":{"type":"string"},"status":{"type":"string","enum":["queued","blocked"]},"reason":{"type":"string","enum":["DatasetNotReady","DatasetRunnerNotReady","StrategySourceTooLarge"]},"executionCluster":{"type":"string","enum":["london","tokyo"]},"namespace":{"type":"string"},"resultUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"plannedResources":{"type":"array","items":{"type":"string"}},"resources":{"type":"array","items":{"$ref":"#/components/schemas/V3KubernetesResource"}}}},"V3BacktestStatusResponse":{"type":"object","required":["id","status"],"additionalProperties":true,"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["pending","running","completed","failed"]},"resultUrl":{"type":"string","pattern":"^gs://[^/]+/.+"},"k8sJobName":{"type":"string"},"results":{"type":"object","additionalProperties":true}}},"V3BacktestResultResponse":{"type":"object","required":["backtest_id","status"],"additionalProperties":false,"properties":{"backtest_id":{"type":"string"},"status":{"type":"string","enum":["pending","running","completed","failed"]},"resultUri":{"type":"string","pattern":"^gs://[^/]+/.+"},"result":{"type":"object","additionalProperties":true},"message":{"type":"string"}}},"V3BacktestLogsResponse":{"type":"object","required":["backtest_id","items"],"additionalProperties":false,"properties":{"backtest_id":{"type":"string"},"items":{"type":"array","items":{"type":"object","required":["timestamp","message"],"additionalProperties":false,"properties":{"timestamp":{"type":"string","format":"date-time"},"message":{"type":"string"},"severity":{"type":"string"}}}},"nextCursor":{"type":"string"},"message":{"type":"string"}}},"V3KubernetesResource":{"type":"object","required":["apiVersion","kind","metadata"],"additionalProperties":true,"properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"metadata":{"type":"object","additionalProperties":true},"spec":{"type":"object","additionalProperties":true},"data":{"type":"object","additionalProperties":{"type":"string"}}}},"V3BlockedResponse":{"type":"object","required":["status","reason"],"additionalProperties":true,"properties":{"status":{"type":"string","enum":["blocked"]},"reason":{"type":"string"}}},"V3Timerange":{"type":"object","required":["start","end"],"additionalProperties":false,"properties":{"start":{"type":"string","format":"date-time"},"end":{"type":"string","format":"date-time"}}}}},"paths":{"/v3/account/{address}/polymarket":{"post":{"tags":["AccountV3"],"summary":"Bootstrap Polymarket onboarding for a trading account","description":"Uses a trading account wallet address owned by the authenticated user to return the Polymarket deposit target, accepted Polygon assets, and onboarding steps. This endpoint bootstraps the wallet/deposit flow; use `GET /v2/account/{address}/status/polymarket` to confirm readiness gates such as Superior API key creation, stored Polymarket CLOB credentials, approvals, and minimum balance. User wallet addresses that are not trading accounts are rejected.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Trading account wallet address owned by the authenticated user."}],"responses":{"200":{"description":"Polymarket onboarding details","content":{"application/json":{"schema":{"type":"object","properties":{"wallet_id":{"type":"string"},"chain":{"type":"string","example":"polygon"},"chain_id":{"type":"number","example":137},"gasless":{"type":"boolean","example":true},"account":{"type":"object","properties":{"type":{"type":"string","enum":["trading_account"]},"name":{"type":"string","description":"Trading account display name from the account label"},"account_index":{"type":"number"},"wallet_address":{"type":"string"}}},"onboarding":{"type":"object","properties":{"target":{"type":"string","enum":["polymarket"]},"account_type":{"type":"string","enum":["trading_account"]},"next_step":{"type":"string","enum":["deposit_polygon_assets","check_polymarket_status"],"description":"Next bootstrap action for this wallet. After funding/conversion, call the Polymarket status endpoint to verify API key and CLOB credential readiness."},"steps":{"type":"array","description":"Bootstrap checklist for getting funds onto Polygon and converted to pUSD. Runtime deployment readiness is reported by the status endpoint.","items":{"type":"object","properties":{"id":{"type":"string","enum":["verify_trading_account_wallet","deposit_polygon_assets","convert_to_pusd"]},"status":{"type":"string","enum":["complete","ready","available_after_deposit"]}}}}}},"accepted_assets":{"type":"array","items":{"type":"object","properties":{"symbol":{"type":"string","enum":["USDC","USDC.e"]},"address":{"type":"string"},"decimals":{"type":"number","example":6}}}}}}}}},"400":{"description":"Validation failed or trading wallet is not available in Privy","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/account/{address}/hyperliquid":{"post":{"tags":["AccountV3"],"summary":"Bootstrap Hyperliquid onboarding for a trading account","description":"Uses a trading account wallet address owned by the authenticated user to bootstrap Hyperliquid onboarding. The route creates and approves the agent wallet when missing, configures the required builder fee, applies the linked referral when available, and returns ready onboarding state. Use `GET /v3/account/{address}/status/hyperliquid` to confirm final runtime readiness.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Trading account wallet address owned by the authenticated user."}],"responses":{"200":{"description":"Hyperliquid onboarding details","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","example":"arbitrum"},"chain_id":{"type":"number","example":42161},"account":{"type":"object","properties":{"type":{"type":"string","enum":["trading_account"]},"name":{"type":"string","description":"Trading account display name from the account label"},"account_index":{"type":"number"},"wallet_address":{"type":"string"}}},"onboarding":{"type":"object","properties":{"target":{"type":"string","enum":["hyperliquid"]},"account_type":{"type":"string","enum":["trading_account"]},"ready":{"type":"boolean"},"next_step":{"type":"string","enum":["create_agent_wallet","configure_builder_fee","check_hyperliquid_status"],"description":"Next bootstrap action for this wallet. When ready, call the Hyperliquid status endpoint to verify runtime readiness."},"blockers":{"type":"array","items":{"type":"string","enum":["agent_wallet_not_ready","builder_not_configured"]}},"steps":{"type":"array","description":"Bootstrap checklist for making the trading account ready for Hyperliquid deployments.","items":{"type":"object","properties":{"id":{"type":"string","enum":["verify_trading_account_wallet","create_agent_wallet","configure_builder_fee","check_hyperliquid_status"]},"status":{"type":"string","enum":["complete","ready","available_after_agent_wallet","available_after_builder"]}}}}}},"builder":{"type":"object","properties":{"configured":{"type":"boolean"},"address":{"type":"string"},"requiredFeePercent":{"type":"number","example":0.04},"feePercent":{"type":"number","example":0.04}}},"agentWallet":{"type":"object","properties":{"created":{"type":"boolean"},"address":{"type":"string","nullable":true}}},"referral":{"type":"object","properties":{"configured":{"type":"boolean"},"code":{"type":"string","nullable":true}}}}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Hyperliquid onboarding actions failed or did not complete","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/account/{address}/lighter":{"post":{"tags":["LighterV3"],"summary":"Onboard a Lighter account","description":"Checks for the Lighter account created by the first credited deposit to the authenticated user's signed primary Superior wallet, records its account index, and approves Superior-managed Lighter API key index 4 when needed. Trading-account wallets are rejected. The API-key approval transaction is returned as `api_key_approval_tx_hash`. Controlled by `FEATURE_LIGHTER_EXCHANGE`.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Authenticated user's signed primary Superior-managed Privy wallet."}],"responses":{"200":{"description":"Lighter account is fully onboarded"},"202":{"description":"Deposit is required/pending or API-key approval is pending"},"404":{"description":"Feature disabled or wallet not owned by the authenticated user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Lighter lookup or API-key approval failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/account/{address}/status/lighter":{"get":{"tags":["LighterV3"],"summary":"Get Lighter account readiness","description":"Returns account and API-key readiness separately via `account_ready` and `api_key_ready`. The combined `ready` field is true only when the Lighter account exists/funded and the Superior-managed Lighter API key is approved/stored. Pending approvals are returned as `api_key_approving` with `api_key_approval_tx_hash`.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Authenticated user's signed primary Superior-managed Privy wallet."}],"responses":{"200":{"description":"Current Lighter readiness state"},"404":{"description":"Feature disabled or wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Lighter lookup failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/portfolio/lighter/balance":{"get":{"tags":["LighterV3"],"summary":"Get Lighter account balance","description":"Returns the Lighter available balance and collateral for the authenticated user's signed primary Superior wallet. Trading-account wallets are rejected. Before the first credited deposit creates the Lighter account, this returns `needs_deposit` with zero balances instead of failing the documented pre-order safety check.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"owner_address","in":"query","required":true,"schema":{"type":"string"},"description":"Authenticated user's signed primary Superior-managed Privy wallet."}],"responses":{"200":{"description":"Current Lighter balance readiness","content":{"application/json":{"schema":{"type":"object","properties":{"venue":{"type":"string","enum":["lighter"]},"owner_address":{"type":"string"},"account_index":{"type":"number","nullable":true},"status":{"type":"string","enum":["needs_deposit","account_created"]},"account_ready":{"type":"boolean"},"ready":{"type":"boolean"},"available_balance":{"type":"string"},"collateral":{"type":"string"}}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Feature disabled or wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Lighter lookup failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Lighter account persistence is unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/portfolio/polymarket/deposit":{"post":{"tags":["PortfolioV3"],"summary":"Deposit USDC to Polymarket","description":"Deposits USDC from the requested Superior wallet into Polymarket pUSD. Polygon USDC and USDC.e use Polymarket's official Collateral Onramp when active, falling back to Relay exact-input routing when paused. Arbitrum native USDC always routes through Relay from Arbitrum to Polygon pUSD; Relay fees or price impact can make the final pUSD amount slightly lower than the requested USDC input.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["chain","asset_address","amount","from"],"properties":{"chain":{"type":"string","enum":["polygon","arbitrum"],"description":"Source chain. Polygon and Arbitrum One are supported for Polymarket deposits.","example":"polygon"},"asset_address":{"type":"string","description":"Native Polygon USDC, Polygon USDC.e, or native Arbitrum USDC token address.","example":"0xaf88d065e77c8cC2239327C5EDb3A432268e5831"},"amount":{"type":"string","description":"USDC input amount. Minimum deposit is 5 USDC and precision is limited to 6 decimals. On the direct Polygon onramp route this wraps 1:1; on Relay routes this is exact input and the pUSD received can be slightly lower after Relay fees or price impact.","example":"5"},"from":{"type":"string","description":"Superior wallet address that owns the source-chain USDC."},"route":{"type":"string","enum":["auto","direct-onramp","relay"],"description":"Optional route preference. Use direct-onramp for Polygon Collateral Onramp, relay to force Relay exact-input routing, or auto to let the API choose. Arbitrum deposits always use Relay.","example":"auto"}}},"examples":{"arbitrumUsdcRelay":{"summary":"Arbitrum USDC via sponsored Relay","description":"Deposits native Arbitrum USDC into Polymarket pUSD. When FEATURE_PRIVY_GAS_SPONSORSHIP is enabled, the source-chain Relay transaction is submitted with app-paid gas.","value":{"chain":"arbitrum","asset_address":"0xaf88d065e77c8cC2239327C5EDb3A432268e5831","amount":"10","from":"0xD5dF8B4DaF0EeCa712b2202995A8ACDfcb0EBB2b","route":"relay"}},"polygonNativeUsdcOnramp":{"summary":"Polygon native USDC via direct onramp","description":"Deposits native Polygon USDC into Polymarket pUSD using the direct onramp when available, otherwise Relay.","value":{"chain":"polygon","asset_address":"0x3c499c542cef5e3811e1192ce70d8cc03d5c3359","amount":"10","from":"0xD5dF8B4DaF0EeCa712b2202995A8ACDfcb0EBB2b","route":"direct-onramp"}},"polygonUsdcERelay":{"summary":"Polygon USDC.e via Relay","description":"Forces Polygon bridged USDC.e through Relay exact-input routing into Polymarket pUSD.","value":{"chain":"polygon","asset_address":"0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174","amount":"10","from":"0xD5dF8B4DaF0EeCa712b2202995A8ACDfcb0EBB2b","route":"relay"}}}}}},"responses":{"200":{"description":"Polymarket deposit submitted or completed","content":{"application/json":{"schema":{"type":"object","properties":{"txHash":{"type":"string","nullable":true},"deposit":{"type":"object"}}}}}},"400":{"description":"Invalid amount, missing wallet, unsupported chain/asset, or insufficient source-chain USDC","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/portfolio/lighter/deposit":{"post":{"tags":["LighterV3"],"summary":"Fund Lighter from a Superior-managed wallet","description":"Creates a Lighter CCTP intent for the authenticated user's signed primary Superior wallet and sends the exact native USDC amount from that same wallet. External funds must first enter the Superior wallet through the wallet funding flow. The temporary intent address is never treated as account identity; the beneficiary and future signing owner remains `owner_address`. Trading-account wallets are rejected, and only one active deposit is allowed per Lighter account.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","minLength":8},"description":"Stable key for this deposit request."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["owner_address","source_chain","amount","confirmed"],"properties":{"owner_address":{"type":"string","description":"Authenticated user's signed primary Superior-managed Privy wallet credited on Lighter."},"source_chain":{"type":"string","enum":["arbitrum","base","avalanche"]},"amount":{"type":"string","example":"5","description":"Native USDC amount, minimum 5 and up to 6 decimals."},"confirmed":{"type":"boolean","enum":[true],"description":"Required because the endpoint immediately moves real funds from the Superior-managed wallet."}}}}}},"responses":{"201":{"description":"Intent created and the managed-wallet transfer submitted"},"202":{"description":"The managed transfer result is ambiguous; poll the returned operation without resubmitting"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Another deposit is active or idempotency key was reused with different input"},"502":{"description":"Lighter intent creation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/portfolio/lighter/withdraw":{"post":{"tags":["LighterV3"],"summary":"Return Lighter USDC to the Superior wallet","description":"Submits a secure Lighter withdrawal to the authenticated user's Superior-managed L1 owner wallet. The status endpoint reconciles Lighter withdrawal history, submits at most one deterministic Privy-sponsored claim when funds become claimable, and completes only after provider evidence plus the exact owner-wallet balance delta. Direct external withdrawal is not available through this route.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"Idempotency-Key","in":"header","required":true,"schema":{"type":"string","minLength":8},"description":"Stable key for this withdrawal request."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["owner_address","amount","confirmed"],"properties":{"owner_address":{"type":"string","description":"Authenticated user's signed primary Superior-managed Privy wallet that owns the Lighter account."},"to_address":{"type":"string","description":"Optional compatibility field. When present it must equal owner_address; external destinations are rejected."},"amount":{"type":"string","example":"3","description":"USDC amount, minimum 1 and up to 6 decimals."},"confirmed":{"type":"boolean","enum":[true],"description":"Required because this endpoint moves real funds out of Lighter."}}}}}},"responses":{"202":{"description":"Withdrawal submitted, replayed, or recorded as unknown for status reconciliation"},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Lighter account is not ready or idempotency key was reused"},"502":{"description":"Withdrawal failed before it could be submitted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/portfolio/lighter/deposit/{depositId}":{"get":{"tags":["LighterV3"],"summary":"Get and reconcile a Lighter deposit","description":"Checks the matching CCTP deposit and returns the persisted deposit state. Reconciliation is read-only and never submits funds.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"depositId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"owner_address","in":"query","required":true,"schema":{"type":"string"},"description":"Signed primary Superior-managed wallet used to authorize access."}],"responses":{"200":{"description":"Current deposit state"},"404":{"description":"Deposit or wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/portfolio/lighter/withdraw/{withdrawalId}":{"get":{"tags":["LighterV3"],"summary":"Get and reconcile a Lighter withdrawal","description":"Checks Lighter withdrawal history and returns persisted state. It never resubmits the Lighter withdrawal. For a secure withdrawal it may submit one deterministic Privy-sponsored Ethereum claim, then proves settlement from provider state and the exact Superior-wallet balance delta.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"withdrawalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"owner_address","in":"query","required":true,"schema":{"type":"string"},"description":"Signed primary Superior-managed wallet used to authorize access."}],"responses":{"200":{"description":"Current withdrawal state"},"404":{"description":"Withdrawal or wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v3/portfolio/hyperliquid/withdraw":{"post":{"tags":["PortfolioV3"],"summary":"Return Hyperliquid USDC to the Superior wallet","description":"Initiates Hyperliquid withdraw3 from an authenticated trading wallet to the user's server-resolved main Superior wallet on Arbitrum One. A client-supplied external destination is rejected. Hyperliquid charges its own withdrawal fee and arrival can take several minutes.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["chain","asset_address","amount"],"properties":{"chain":{"type":"string","description":"Destination chain alias or chain ID. Supported values include arbitrum, arbitrum_one, arbitrum-one, and 42161.","example":"arbitrum"},"asset_address":{"type":"string","description":"Native USDC token address on Arbitrum One.","example":"0xaf88d065e77c8cC2239327C5EDb3A432268e5831"},"amount":{"type":"string","description":"USDC amount as a decimal string with up to 6 decimal places.","example":"5"},"to":{"type":"string","description":"Optional compatibility field. When present it must equal the authenticated user's main Superior wallet.","example":"0x11223344556677889900aabbccddeeff11223344"},"from":{"type":"string","description":"Optional source trading wallet address. Must be one of the authenticated user's trading wallets. When omitted, the default main trading wallet is used.","example":"0x11223344556677889900aabbccddeeff11223344"}}}}}},"responses":{"200":{"description":"Hyperliquid withdrawal request accepted","content":{"application/json":{"schema":{"type":"object","properties":{"chain":{"type":"string","example":"arbitrum"},"asset_address":{"type":"string","example":"0xaf88d065e77c8cC2239327C5EDb3A432268e5831"},"amount":{"type":"string","example":"5"},"destination":{"type":"string","description":"Server-resolved main Superior wallet","example":"0x11223344556677889900aabbccddeeff11223344"},"withdrawal_flow":{"type":"string","enum":["hyperliquid_to_superior_wallet"]},"wallet_address":{"type":"string","description":"Source Hyperliquid wallet address"},"hyperliquid_response":{"type":"object","description":"Raw successful response from Hyperliquid withdraw3."}}}}}},"400":{"description":"Invalid request, unsupported chain/asset, invalid destination, invalid amount, or no credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"The supplied destination bypasses the Superior wallet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Server misconfigured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Hyperliquid withdrawal request failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/portfolio/polymarket/exit":{"post":{"tags":["PortfolioV3"],"summary":"Close all Polymarket positions and cancel orders","description":"Cancels all open CLOB orders and sells all current Polymarket positions for the authenticated wallet. Optionally targets a specific trading account.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"tradingAccountId":{"type":"string","description":"Optional Polymarket trading account id. If omitted, exits the default Superior wallet."}}}}}},"responses":{"200":{"description":"Positions closed and orders cancelled","content":{"application/json":{"schema":{"type":"object","properties":{"orders_cancelled":{"type":"number","description":"Number of orders cancelled"},"positions_closed":{"type":"number","description":"Number of positions closed"},"wallet_address":{"type":"string","description":"Polymarket wallet that was exited"}}}}}},"400":{"description":"Invalid request or no trading wallet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Polymarket error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/authorize-and-send/polymarket":{"post":{"tags":["PolymarketProxy"],"summary":"Authorize and send a Polymarket action","description":"Accepts one whitelisted Polymarket action, verifies the user-owned wallet is onboarded to Polymarket with approvals set, signs with that wallet, uses stored Polymarket CLOB API credentials, and submits the action. Supported action types: placeMarketOrder, cancelOrder.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["action"],"additionalProperties":false,"properties":{"action":{"oneOf":[{"type":"object","required":["type","tokenID","side","amount"],"additionalProperties":false,"properties":{"type":{"type":"string","enum":["placeMarketOrder"],"description":"Place one immediate Polymarket market order."},"from":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"Optional user-owned trading wallet address. Omit to use the main trading wallet."},"tokenID":{"type":"string","description":"Polymarket outcome token ID to trade."},"side":{"type":"string","enum":["BUY","SELL"]},"amount":{"type":"string","description":"Positive decimal amount. For BUY, this is the pUSD amount to spend. For SELL, this is the outcome token size to sell."},"price":{"type":"number","exclusiveMinimum":0,"maximum":1,"description":"Optional worst acceptable price for the market order."},"orderType":{"type":"string","enum":["FOK","FAK"],"default":"FOK","description":"Immediate execution type. FOK fills completely or cancels; FAK fills available size and cancels the rest."}}},{"type":"object","required":["type","orderID"],"additionalProperties":false,"properties":{"type":{"type":"string","enum":["cancelOrder"],"description":"Cancel one open Polymarket order by order ID."},"from":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"Optional user-owned trading wallet address. Omit to use the main trading wallet."},"orderID":{"type":"string","description":"Polymarket CLOB order ID to cancel."}}}]}}},"examples":{"placeMarketOrder":{"summary":"Place one immediate Polymarket bet","value":{"action":{"type":"placeMarketOrder","from":"0x11223344556677889900aabbccddeeff11223344","tokenID":"1234567890","side":"BUY","amount":"10","price":0.55,"orderType":"FOK"}}},"cancelOrder":{"summary":"Cancel one Polymarket order","value":{"action":{"type":"cancelOrder","from":"0x11223344556677889900aabbccddeeff11223344","orderID":"0xorder"}}}}}}},"responses":{"200":{"description":"Action executed successfully. Polymarket order details are nested under response.","content":{"application/json":{"schema":{"type":"object","required":["status","response"],"properties":{"status":{"type":"string","enum":["ok"]},"response":{"type":"object","properties":{"walletAddress":{"type":"string"},"order":{"type":"object","additionalProperties":true,"description":"Raw Polymarket CLOB order response."},"cancellation":{"type":"object","additionalProperties":true,"description":"Raw Polymarket CLOB cancellation response."}}}}},"example":{"status":"ok","response":{"walletAddress":"0x11223344556677889900aabbccddeeff11223344","order":{"success":true,"orderID":"0xorder","status":"matched"}}}}}},"400":{"description":"Invalid request, non-whitelisted action, or no credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"validation_failed":{"summary":"Validation failed","value":{"error":"validation_failed","message":"Only these Polymarket actions are allowed: placeMarketOrder, cancelOrder","details":[{"path":"action.type","message":"Invalid discriminator value"}]}},"no_credentials":{"summary":"No Polymarket wallet","value":{"error":"no_credentials","message":"No Polymarket wallet found for your account."}},"polymarket_account_not_ready":{"summary":"Polymarket account is not ready","value":{"error":"polymarket_account_not_ready","message":"Polymarket account must be onboarded, approved, and have CLOB credentials stored before trading.","response":{"walletAddress":"0x11223344556677889900aabbccddeeff11223344","onboarding":{"onboarded":true,"approvalsSet":false,"clobCredentialsStored":false}}}}}}}},"502":{"description":"Polymarket API error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"polymarket_error","message":"Polymarket API request failed"}}}}},"x-agent-automation":true}},"/v3/authorize-and-send/lighter":{"post":{"tags":["LighterProxy"],"summary":"Authorize and send a Lighter transaction or order","description":"Accepts one whitelisted Lighter action, resolves the authenticated user's signed primary Superior wallet, rejects any different `from` wallet, signs with that wallet's stored Lighter credentials when needed, and forwards the signed transaction payload to Lighter sendTx. Supported action types: sendTx, placeOrder.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["action"],"additionalProperties":false,"properties":{"action":{"oneOf":[{"type":"object","required":["type","tx_type","tx_info"],"additionalProperties":false,"properties":{"type":{"type":"string","enum":["sendTx"],"description":"Submit one pre-signed Lighter transaction."},"from":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"Optional user-owned Superior-managed Privy wallet address. Omit to use the main trading wallet."},"tx_type":{"type":"integer","minimum":0,"maximum":255,"description":"Lighter transaction type for sendTx."},"tx_info":{"type":"string","description":"Signed Lighter transaction payload produced by the Lighter SDK signer."},"price_protection":{"type":"boolean","default":true,"description":"Lighter sendTx price protection flag."}}},{"type":"object","required":["type","market_id","side","quote_amount"],"additionalProperties":false,"properties":{"type":{"type":"string","enum":["placeOrder"],"description":"Sign and submit one Lighter market order using stored Lighter credentials."},"from":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","description":"Optional user-owned Superior-managed Privy wallet address. Omit to use the main trading wallet."},"market_id":{"type":"integer","minimum":0,"description":"Lighter market id, for example 0 for ETH perp."},"side":{"type":"string","enum":["buy","sell"]},"quote_amount":{"type":"string","pattern":"^(0|[1-9]\\d*)(\\.\\d+)?$","description":"USDC quote amount to use for the order."},"max_slippage":{"type":"string","pattern":"^(0|0\\.[0-4]\\d*|0\\.5(?:0*)?)$","default":"0.005","description":"Maximum slippage fraction from 0 through 0.5, e.g. 0.005 for 0.5%."},"reduce_only":{"type":"boolean","default":false},"price_protection":{"type":"boolean","default":true,"description":"Lighter sendTx price protection flag."}}}]}}},"examples":{"sendTx":{"summary":"Send one signed Lighter transaction","value":{"action":{"type":"sendTx","from":"0x11223344556677889900aabbccddeeff11223344","tx_type":14,"tx_info":"{\"AccountIndex\":123,\"MarketIndex\":0}","price_protection":true}}},"placeOrder":{"summary":"Buy ETH perp with a USDC quote amount","value":{"action":{"type":"placeOrder","from":"0x11223344556677889900aabbccddeeff11223344","market_id":0,"side":"buy","quote_amount":"10","max_slippage":"0.005","reduce_only":false,"price_protection":true}}}}}}},"responses":{"200":{"description":"Transaction submitted successfully. Lighter response details are nested under submission.","content":{"application/json":{"schema":{"type":"object","required":["status","response"],"properties":{"status":{"type":"string","enum":["ok"]},"response":{"type":"object","properties":{"walletAddress":{"type":"string"},"order":{"type":"object","additionalProperties":true,"description":"Present for placeOrder actions. Signed order metadata and estimated fill sizing."},"submission":{"type":"object","additionalProperties":true,"description":"Raw Lighter sendTx response."}}}}},"example":{"status":"ok","response":{"walletAddress":"0x11223344556677889900aabbccddeeff11223344","submission":{"code":200,"message":"success","tx_hash":"0xlightertx"}}}}}},"400":{"description":"Invalid request, non-whitelisted action, or no wallet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"validation_failed":{"summary":"Validation failed","value":{"error":"validation_failed","message":"Only these Lighter actions are allowed: sendTx, placeOrder","details":[{"path":"action.type","message":"Invalid discriminator value"}]}},"no_credentials":{"summary":"No Lighter wallet","value":{"error":"no_credentials","message":"No Lighter wallet found for your account."}},"missing_lighter_credentials":{"summary":"No stored Lighter API key","value":{"error":"lighter_credentials_unavailable","message":"No Lighter API key found for your account."}}}}}},"502":{"description":"Lighter API error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"error":"lighter_error","message":"Lighter API request failed"}}}}},"x-agent-automation":true}},"/v3/markets/search":{"post":{"tags":["Market V3"],"summary":"Search Polymarket markets","description":"Search Polymarket markets by merging validated dataset records with live Polymarket metadata, then returning one ranked candidate list by text relevance, current volume/liquidity, 24h activity, and recency. Exact polymarket.com/event/<slug> URLs are expanded through Polymarket event metadata when possible. If more than one result is plausible, callers should show the ranked list and ask the user to choose an exact slug before starting a backtest or deployment.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3MarketSearchRequest"}}}},"responses":{"200":{"description":"Candidate markets from the current filled-data catalog","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3MarketSearchResponse"}}}},"409":{"description":"Dataset catalog is not configured yet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BlockedResponse"}}}}},"x-agent-automation":true}},"/v3/deployment":{"get":{"tags":["Deployment V3"],"summary":"List v3 deployments","description":"Lists live v3 deployments owned by the authenticated user.","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1}},{"name":"cursor","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"List of v3 deployments with pagination","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentListResponse"}}}},"409":{"description":"Deployment repository is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BlockedResponse"}}}}},"x-agent-automation":true},"post":{"tags":["Deployment V3"],"summary":"Plan a tenant strategy deployment","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentRequest"},"examples":{"polymarketTenantRuntime":{"summary":"Polymarket tenant runtime","value":{"region":"london","deployment":{"code":"class Dep001Strategy: pass\n","config":{"venue":"polymarket","instrument_id":"1234567890.POLYMARKET"}}}},"lighterTenantRuntime":{"summary":"Lighter tenant runtime","value":{"region":"tokyo","deployment":{"code":"class LighterStrategy: pass\n","config":{"venue":"lighter","runtime":"nautilus-pyo3","instrument_id":"BTC-PERP.LIGHTER"}}}},"robinhoodLighterTenantRuntime":{"summary":"Robinhood Chain Lighter tenant runtime","value":{"region":"tokyo","deployment":{"code":"class RobinhoodLighterStrategy: pass\n","config":{"venue":"lighter-robinhood","runtime":"nautilus-pyo3","instrument_id":"PLTR-PERP.LIGHTER-RH"}}}}}}}},"responses":{"202":{"description":"Deployment plan accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentPlanResponse"},"examples":{"starting":{"summary":"Deployment plan accepted","value":{"deployment":{"id":"dep_001","status":"starting"},"executionCluster":"london","namespace":"superior-trade","region":"london","activeDeploymentIds":["dep_001"],"plannedResources":["NautilusTenantRuntime"],"resources":[{"apiVersion":"infra.superior.trade/v1alpha1","kind":"NautilusTenantRuntime","metadata":{"name":"tenant-tenant-a-runtime","namespace":"superior-trade"},"spec":{"tenantId":"tenant_a","region":"london","clusterId":"london","venueProfile":"polymarket-london","activeDeploymentIds":["dep_001"],"deployments":[{"deploymentId":"dep_001","desiredState":"running","code":"class Dep001Strategy: pass\n","config":{"venue":"polymarket"}}],"persistenceRef":{"claimName":"tenant-tenant-a-runtime"}}}]}},"lighterStarting":{"summary":"Lighter deployment plan accepted","value":{"deployment":{"id":"dep_002","status":"starting"},"executionCluster":"tokyo","namespace":"superior-trade","region":"tokyo","activeDeploymentIds":["dep_002"],"plannedResources":["NautilusTenantRuntime"],"resources":[{"apiVersion":"infra.superior.trade/v1alpha1","kind":"NautilusTenantRuntime","metadata":{"name":"tenant-tenant-a-runtime","namespace":"superior-trade"},"spec":{"tenantId":"tenant_a","region":"tokyo","clusterId":"tokyo","venueProfile":"lighter-tokyo","activeDeploymentIds":["dep_002"],"deployments":[{"deploymentId":"dep_002","desiredState":"running","code":"class LighterStrategy: pass\n","config":{"venue":"lighter"}}],"persistenceRef":{"claimName":"tenant-tenant-a-runtime"}}}]}}}}}},"409":{"description":"Deployment cannot be planned yet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentPlanResponse"},"examples":{"blocked":{"summary":"Deployment plan blocked","value":{"deployment":{"id":"dep_001","status":"blocked","reason":"TenantRuntimeImageNotReady"},"executionCluster":"london","namespace":"superior-trade","activeDeploymentIds":["dep_001"],"plannedResources":[],"resources":[]}}}}}}},"x-agent-automation":true}},"/v3/deployment/{id}":{"delete":{"tags":["Deployment V3"],"summary":"Soft delete a persisted v3 deployment","description":"Marks an owned stopped or pending v3 deployment as deleted in the deployment repository. Running deployments must be stopped before deletion.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Deployment soft deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentDeleteResponse"}}}},"404":{"description":"Deployment not found"},"409":{"description":"Deployment cannot be deleted yet"}},"x-agent-automation":true}},"/v3/deployment/{id}/status":{"patch":{"tags":["Deployment V3"],"summary":"Start or stop a persisted v3 deployment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentStatusRequest"}}}},"responses":{"200":{"description":"Deployment status updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentStatusResponse"}}}},"404":{"description":"Deployment not found"},"409":{"description":"Deployment cannot be started or stopped"}},"x-agent-automation":true}},"/v3/deployment/{id}/logs":{"get":{"tags":["Deployment V3"],"summary":"Get tenant deployment logs","description":"Returns Cloud Logging entries for a persisted v3 deployment runtime. Supports pagination with pageSize and pageToken query parameters.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1}},{"name":"pageToken","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deployment logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentLogsResponse"}}}},"404":{"description":"Deployment not found"},"500":{"description":"Log fetch failed"}},"x-agent-automation":true}},"/v3/deployment/{id}/credentials":{"post":{"tags":["Deployment V3"],"summary":"Store deployment credentials metadata","description":"Marks a v3 Nautilus deployment as credentialed. Private keys are not accepted by the v3 API.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentCredentialsRequest"}}}},"responses":{"200":{"description":"Deployment credentials metadata stored","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3DeploymentCredentialsResponse"}}}},"400":{"description":"Invalid credentials request"},"403":{"description":"Wallet address is not owned by the authenticated user"},"404":{"description":"Deployment not found"}},"x-agent-automation":true}},"/v3/backtest":{"post":{"tags":["Backtesting V3"],"summary":"Plan a Polymarket backtest","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestRequest"},"examples":{"polymarketBacktest":{"summary":"Polymarket filled-data backtest","value":{"tenantId":"tenant_a","strategyId":"pm_probability_momentum","marketSlugs":["will-bitcoin-hit-120000-before-july-1"],"datasetRef":{"manifestUri":"gs://superior-trade-prod-superiortrade-user-data/backtesting-data/polymarket/releases/2026-06-09T120000Z/catalog.json","datasetVersion":"2026-06-09T120000Z","coverage":{"start":"2025-01-01T00:00:00.000Z","end":"2026-03-01T00:00:00.000Z"},"markets":[{"slug":"will-bitcoin-hit-120000-before-july-1","conditionId":"0x1111111111111111111111111111111111111111111111111111111111111111","outcomeTokenIds":["123","456"]}]},"timerange":{"start":"2026-01-01T00:00:00.000Z","end":"2026-02-01T00:00:00.000Z"},"venueProfile":"polymarket-london","startingBalance":1000,"feeBps":0,"slippageBps":5,"strategyConfig":{"lookback_ticks":5,"momentum_threshold":0.02,"order_size":5,"exit_after_ticks":25},"activeDeadlineSeconds":3600}}}}}},"responses":{"202":{"description":"Backtest plan accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestPlanResponse"},"examples":{"queued":{"summary":"Backtest plan accepted","value":{"tenantId":"tenant_a","backtestId":"bt_001","strategyId":"pm_probability_momentum","status":"queued","executionCluster":"london","namespace":"superior-trade","resultUri":"gs://superior-trade-prod-superiortrade-user-data/backtest-results/polymarket/tenant=tenant_a/date=2026-06-09/bt_001.json","plannedResources":["ConfigMap","Job","NautilusBacktestRun"],"resources":[{"apiVersion":"batch/v1","kind":"Job","metadata":{"name":"polymarket-backtest-bt-001","namespace":"superior-trade"},"spec":{"template":{"spec":{"containers":[{"name":"polymarket-backtest","image":"europe-west2-docker.pkg.dev/superior-agent-backend-staging/superior-trade/nautilus-polymarket-backtest:abc1234"}]}}}}]}}}}}},"409":{"description":"Backtest cannot be planned yet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestPlanResponse"},"examples":{"blocked":{"summary":"Backtest plan blocked","value":{"tenantId":"tenant_a","strategyId":"pm_probability_momentum","status":"blocked","reason":"DatasetRunnerNotReady","executionCluster":"london","namespace":"superior-trade","plannedResources":[],"resources":[]}}}}}}},"x-agent-automation":true}},"/v3/backtest/{id}":{"get":{"tags":["Backtesting V3"],"summary":"Get a persisted Polymarket backtest","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Persisted backtest record","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestStatusResponse"}}}},"404":{"description":"Backtest not found"}},"x-agent-automation":true}},"/v3/backtest/{id}/status":{"get":{"tags":["Backtesting V3"],"summary":"Get Polymarket backtest status","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Backtest status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestStatusResponse"}}}},"404":{"description":"Backtest not found"}},"x-agent-automation":true}},"/v3/backtest/{id}/result":{"get":{"tags":["Backtesting V3"],"summary":"Get Polymarket backtest result","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"responses":{"200":{"description":"Uploaded backtest result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestResultResponse"}}}},"202":{"description":"Backtest result is not ready yet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestResultResponse"}}}},"404":{"description":"Backtest not found"}},"x-agent-automation":true}},"/v3/backtest/{id}/logs":{"get":{"tags":["Backtesting V3"],"summary":"Get Polymarket backtest logs","description":"Returns Cloud Logging entries for the Kubernetes Job created for a persisted v3 Polymarket backtest.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","minLength":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","minimum":1}},{"name":"pageToken","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Backtest logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/V3BacktestLogsResponse"}}}},"404":{"description":"Backtest not found"},"500":{"description":"Log fetch failed"}},"x-agent-automation":true}},"/v3/account":{"get":{"tags":["AccountV3"],"summary":"List trading accounts","description":"Lists trading accounts linked to the authenticated user, ordered by account index.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"responses":{"200":{"description":"Trading accounts","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"Trading account display name from the account label"},"account_index":{"type":"number","description":"Trading account index"},"wallet_address":{"type":"string","nullable":true,"description":"Backward-compatible alias for the Hyperliquid wallet address"},"hyperliquid_wallet_address":{"type":"string","nullable":true,"description":"Privy-backed Hyperliquid trading wallet address"},"polymarket_wallet_address":{"type":"string","nullable":true,"description":"Polymarket deposit wallet address derived from the Hyperliquid wallet address"}}}}}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true},"post":{"tags":["AccountV3"],"summary":"Create a trading account","description":"Creates a new Privy-backed trading account for the authenticated user when fewer than 3 non-disabled trading accounts exist in the terminal database.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Optional display name stored as the trading account label."}}},"examples":{"namedAccount":{"value":{"name":"Momentum Vault"}}}}}},"responses":{"201":{"description":"Trading account created","content":{"application/json":{"schema":{"type":"object","properties":{"account":{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"account_index":{"type":"number"},"wallet_address":{"type":"string","nullable":true},"wallet_id":{"type":"string","nullable":true},"status":{"type":"string"}}}}}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Terminal user not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Trading account limit reached","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"limitReached":{"value":{"error":"trading_account_limit_reached","message":"Trading account limit reached","limit":3,"accounts_used":3}}}}}},"500":{"description":"Terminal database is not configured or account creation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/account/{address}":{"patch":{"tags":["AccountV3"],"summary":"Update trading account name","description":"Updates the display name for an active trading account selected by wallet address.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Trading account wallet address owned by the authenticated user."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"New display name stored as the trading account label."}}},"examples":{"renameAccount":{"value":{"name":"Momentum Vault"}}}}}},"responses":{"200":{"description":"Trading account updated","content":{"application/json":{"schema":{"type":"object","properties":{"account":{"type":"object","properties":{"name":{"type":"string"},"account_index":{"type":"number"},"wallet_address":{"type":"string"}}}}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested trading account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}},"/v3/account/{address}/status/{exchange}":{"get":{"tags":["AccountV3"],"summary":"Get account exchange status","description":"Returns exchange readiness for the requested account wallet. Use `hyperliquid` for referral, builder fee, and agent wallet readiness; use `polymarket` for full runtime onboarding readiness; use `lighter` for Lighter account creation, API-key provisioning, collateral, and available balance. For Polymarket, `polymarketWallet.address` is the derived Polymarket deposit wallet used for balances, funding, approvals, and CLOB funder operations. `onboarding.ready` is true only when the wallet is exportable, an active Superior API key exists, the wallet is onboarded, approvals are set, Polymarket CLOB API credentials are stored, and the wallet meets the minimum Polygon USDC balance.","security":[{"ApiKeyAuth":[]},{"BearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string"},"description":"Account wallet address owned by the authenticated user."},{"name":"exchange","in":"path","required":true,"schema":{"type":"string","enum":["hyperliquid","polymarket","lighter"]},"description":"Exchange readiness to return."}],"responses":{"200":{"description":"Account status","content":{"application/json":{"schema":{"type":"object","properties":{"accountTier":{"type":"string","enum":["free","pro"]},"referral":{"type":"object","properties":{"configured":{"type":"boolean"},"code":{"type":"string","nullable":true},"referredByUserId":{"type":"string","nullable":true},"linkedAt":{"type":"string","nullable":true,"format":"date-time"}}},"builder":{"type":"object","properties":{"configured":{"type":"boolean"},"address":{"type":"string"},"feePercent":{"type":"number"}}},"agentWallet":{"type":"object","properties":{"created":{"type":"boolean"},"address":{"type":"string"}}},"chain":{"type":"string","example":"polygon"},"chain_id":{"type":"number","example":137},"wallet":{"type":"object","properties":{"address":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"index":{"type":"number","nullable":true}}},"polymarketWallet":{"type":"object","nullable":true,"description":"The derived Polymarket deposit wallet used as the CLOB funder and balance source for Polymarket status responses.","properties":{"address":{"type":"string","nullable":true,"description":"Derived Polymarket deposit wallet address."},"type":{"type":"string","enum":["deposit"],"description":"Polymarket wallet role."},"derivedFrom":{"type":"string","nullable":true,"description":"Superior account wallet used to derive the Polymarket deposit wallet."}}},"onboarding":{"type":"object","properties":{"ready":{"type":"boolean","description":"True when all Polymarket runtime gates pass: exportable wallet, active Superior API key, Polymarket account row, post-wrap approvals, stored CLOB credentials, and minimum Polygon USDC balance."},"apiKeyCreated":{"type":"boolean","description":"True when the authenticated product user has at least one active, unexpired Superior API key."},"onboarded":{"type":"boolean","description":"True when the wallet has a Polymarket account record."},"approvalsSet":{"type":"boolean","description":"True when required Polymarket post-wrap allowances/approvals are stored or detected on-chain."},"clobCredentialsStored":{"type":"boolean","description":"True when Polymarket CLOB API key, secret, and passphrase are present server-side. Secret values are never returned."}}},"polymarketApi":{"type":"object","properties":{"credentialsStored":{"type":"boolean","description":"Alias for `onboarding.clobCredentialsStored`; true when CLOB credentials are stored server-side without exposing their values."}}},"balance":{"type":"object","properties":{"minimum":{"type":"string","example":"5"},"minimum_atoms":{"type":"string","example":"5000000"},"usdc":{"type":"string","example":"8.5"},"usdcNative":{"type":"string","example":"6"},"usdcE":{"type":"string","example":"2.5"},"pusd":{"type":"string","example":"1"},"pol":{"type":"string","example":"0.1"},"meetsMinimum":{"type":"boolean"}}},"venue":{"type":"string","enum":["lighter"],"description":"Present on Lighter status responses."},"owner_address":{"type":"string","description":"Superior-managed account wallet used as the Lighter owner."},"account_index":{"type":"number","nullable":true,"description":"Lighter account index, or null before the first credited deposit creates the account."},"status":{"type":"string","enum":["needs_deposit","deposit_pending","account_created","api_key_approving","key_provisioning_unknown","ready"],"description":"Lighter readiness state."},"account_ready":{"type":"boolean","description":"True when the Lighter account exists and collateral can be read."},"api_key_ready":{"type":"boolean","description":"True when the Superior-managed Lighter API key is approved and stored."},"ready":{"type":"boolean","description":"True when the Lighter account and Superior-managed API key are ready for trading."},"next_action":{"type":"string","nullable":true,"enum":["deposit","wait_for_deposit","approve_api_key","wait_for_api_key_approval","manual_review"],"description":"Recommended next Lighter setup action, or null when ready."},"available_balance":{"type":"string","description":"Lighter available balance for the owner account."},"collateral":{"type":"string","description":"Lighter collateral for the owner account."},"active_deposit":{"type":"object","nullable":true,"description":"Active Lighter deposit operation when the status is deposit_pending."},"api_key_approval_tx_hash":{"type":"string","nullable":true,"description":"Lighter transaction hash for API-key approval when available."}}}}}},"400":{"description":"Validation failed, unsupported exchange, or exchange setup is not ready","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication required","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Requested account wallet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Terminal database is not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-agent-automation":true}}}}